<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'dash' %>


  <%= javascript_include_tag ('application') %>

</head>
<body>
<div class="navbar navbar-inverse set-radius-zero">
  <div class="container">
    <div class="col-lg-12">
      <a href="/"><%= image_tag("logos/Logo_2.png" , :class => 'headerLogo')%></a>
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
  </div>
</div>
<!-- LOGO HEADER END-->
<section class="menu-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="navbar-collapse collapse ">
          <ul id="menu-top" class="nav navbar-nav navbar-right">
            <li><a href="/dash">Profile</a></li>
            <li><a class="menu-top-active"  href="/teams">Teams</a></li>
            <li>
              <a href=<%= new_password_reset_path%>>
                <p>Change Password</p>
              </a>
            </li>
            <li>
              <%= link_to "Log out", logout_path, method: "delete" %>
            </li>

          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- MENU SECTION END-->
<div class="content-wrapper">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="page-head-line">Team</h5>
      </div>
    </div>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-two">
          <h5>Team Name</h5>
          <i  class="fa fa-id-card dashboard-div-icon" ></i>
          <h4><%=@team.name%></h4>
        </div>

      </div>
      <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-three">
          <h5>Team Track</h5>
          <i  class="fa fa-road dashboard-div-icon" ></i>
          <h4><%=@team.track%></h4>
        </div>

      </div>
      <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-four">
          <h5>Team Size</h5>
          <i  class="fa fa-users dashboard-div-icon" ></i>
          <h4><%=@team.users.count%> / 3</h4>
        </div>

      </div>
    </div>

    <div class = "row">
      <h4 class="subheader">Members</h4>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Member email</th>
          </tr>

          </thead>

          <% @team.users.all.each do |member| %>
              <tr>
                <td><%= member.email%></td>

                <% if member.id == @team.creator%>
                    <td class="alert-warning">
                      <i class="fa fa-hand-spock-o" aria-hidden="true"></i> Leader
                    </td>
                <%end%>
                <% if member.id != @team.creator && @user.id == @team.creator%>
                    <td><a class="btn btn-danger" href="/removeMember?member=<%=member.id%>&team=<%=@team.id%>">Remove Member</a></td>
                <%end%>


              </tr>
          <%end%>
        </table>
      </div>
    </div>

    <% if @team.users.all.include?(@user)%>
        <div class = "row">
          <h5 class="subheader">Uploaded Files</h5>

          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>File Name</th>
                <th> Size</th>
              </tr>

              </thead>

              <% @team.submissions.all.each do |sub| %>
                  <% parsed = ActiveSupport::JSON.decode(sub.content_data) %>
                  <tr>
                    <td><%=parsed['metadata']['filename']%></td>
                    <td><%=number_to_human_size(parsed['metadata']['size'],precision: 2)%></td>
                    <td><%= simple_form_for sub do |f| %>
                          <%= f.hidden_field :sub_id, value: sub.id %>
                          <%= f.button :button, 'Delete', class: 'btn btn-danger' %>
                      <% end %>
                    </td>
                  </tr>
              <%end%>
            </table>

            <div>
              <h5><u>Upload new file</u></h5>
              <%= simple_form_for @submission do |f| %>
                  <%= f.file_field :content, id:'file-upload'%>
                  <%= f.hidden_field :team_id, value: @team.id %>
                  <%= f.button :button, 'Upload', class: 'btn btn-primary' %>
              <% end %>
              <h5 style="color: forestgreen;">Max file size is 2MB; Only .pdf allowed</h5>
            </div>
          </div>
        </div>
    <%end%>



    <div class="row" style="padding-top: 30px;">
      <h5 class="subheader">Other Actions</h5>

      <% if @team.users.count < 3 && !@team.users.all.include?(@user) && @user.teams.count < 3%>
          <a class="btn btn-primary" href='/membership_requests/new?team_id=<%=@team.id%>'>Send Join Request</a>
      <% end %>
      <% if @team.users.all.include?(@user) && @team.creator != @user.id%>
          <h5 style="color: dodgerblue;">Warning! You won't be able to rejoin the same team should you quit</h5>
          <a class="btn btn-warning" href='/quitTeam?team=<%=@team.id%>'>Quit Team</a>
      <% end %>

    </div>

    <div class="row">
      <% if @team.creator == @user.id%>
          <h5 style="color: dodgerblue;">Warning! There will be no confirmation should you choose to delete the team</h5>
          <a class="btn btn-danger" href='/deleteTeam?team=<%=@team.id%>'>Delete Team</a>
      <% end %>
    </div>

  </div>



</div>

</body>
</html>
