<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />


  <%= stylesheet_link_tag 'light-bootstrap-dashboard' %>
  <!--     Fonts and icons     -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

</head>
<body>

<div class="wrapper">
  <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

    <div class="sidebar-wrapper">
      <div class="logo">

      </div>

      <ul class="nav">
        <li class="active">
          <a href="/dash">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <p>User Profile</p>
          </a>
        </li>
        <li>
          <a href="/teams">
            <i class="fa fa-list-alt" aria-hidden="true"></i>
            <p>Team List</p>
          </a>
        </li>

      </ul>
    </div>
  </div>

  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/changePassword">
                <p>Change Password</p>
              </a>
            </li>
            <li>
              <%= link_to "Log out", logout_path, method: "delete" %>
            </li>
            <li class="separator hidden-lg hidden-md"></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <% flash.each do |key, value| %>
                  <div class="alert alert-<%= key %>"><%= value %></div>
              <% end %>
              <div class="header">
                <h4 class="title">Change Password</h4>
              </div>
              <div class="content">
                <%= simple_form_for @user, url: '/dashboard/:id' do |f| %>
                    <%= f.input :password, placeholder: 'Password', label: false %>
                    <%= f.input :password, placeholder: 'New Password', label: false %>
                    <%= f.input :password_confirmation, placeholder: 'Repeat New Password', label: false %>

                    <%= f.button :button, 'Update', class: 'btn ' %>

                <% end %>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <footer class="footer">
      <div class="container-fluid">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="#">
                Home
              </a>
            </li>
            <li>
              <a href="#">
                Company
              </a>
            </li>
            <li>
              <a href="#">
                Portfolio
              </a>
            </li>
            <li>
              <a href="#">
                Blog
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>

  </div>
</div>


</body>

<% javascript_include_tag ('application') %>

</html>