<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">


  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">


  <%=stylesheet_link_tag('application')%>
  <%= stylesheet_link_tag 'agency' %>
  <%= stylesheet_link_tag 'zigzagtimeline' %>
  <%= stylesheet_link_tag 'lineartimeline' %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'agency' %>

</head>

<body id="page-top" class="aboutBody">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-about navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle collapsed" data-turbolinks-permanent data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/">BiZiT Festival 17</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/smartnation">Smart Nation</a>
        </li>
        <li>
          <a href="/bigdata">Big Data</a>
        </li>
        <li>
          <a href="/fintech">FinTech</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/login" class="btn-login">Login</a>
        </li>
        <li>
        <li><a href=""><i class="fa fa-facebook"></i></a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- About BiZiT Society -->
<section class="layer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-heading" id="statement-section-heading">About BiZiT Society</h1>
          <!--<h3 class="section-subheading text-muted">Submission Deadline | 17 May 2017</h3>-->
          <div class="statementText">
            <br>BiZiT Society is a student-initiated, student-led, and student-run registered
            society that aims to promote visibility for the business IT industry. <br><br>
            BiZiT Society also aims to be a bridge between students and employers, linking talents up with the titans of the industry.
            At our core, BiZiT Society has the 4Cs as its foundational pillars.<br><br>
            Collaboration – where we collaborate with industry leaders, government agencies, student bodies to bring business IT to greater heights.<br><br>
            Competition – BiZiT organises challenges and competitions to bring out the best and the cream of the crop, and give them a chance to showcase their talents.<br><br>
            Community – We strive to build a community of business IT students and leaders who can foster a strong network and community spirit.<br><br>
            Certification – For our members, we endeavour to obtain attractive certification options for them, to give them a competitive edge in the industry.
          </div>
        </div>
      </div>
    </div>
</section>

<!-- About BiZiT Festival -->
<section id="statement" class="about-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading" id="statement-section-heading">About BiZiT Festival</h1>
        <!--<h3 class="section-subheading text-muted">Submission Deadline | 17 May 2017</h3>-->
        <div class="statementText">
          <br>BiZiT Festival is a pioneering event championed by BiZiT Society for greater
          visibility of our industry in Singapore. The 4Cs pillars are the foundations of BiZiT and as part of what we
          do, we want to give more exposure and opportunities to students to work on applicable real-world challenges,
          with some of the industry’s best employers.<br><br>
          BiZiT Festival is not merely a hackathon, but a series of workshops , talks, and competitions lined up to
          cumulate in a 2 days Finale.<br><br>
          The Festival competitions forma core part of BiZiT Festival. This is where we hope the participants and our
          sponsors will have the greatest takeaway. The competitions are designed and angled such that they are relevant
          and applicable to challenges faced by the business IT industry today. This means your hardwork and innovation
          is most relevant and applicable where they are most needed!
        </div>
      </div>
    </div>
  </div>
</section>


<!-- How it works  -->
<section class="layer" id="timelineSection">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 text-center">
        <h1 class="section-heading">How it works </h1>


      <div class="timeline-centered">

        <article class="timeline-entry">
          <div class="timeline-entry-inner">
            <div class="timeline-icon bg-red">
              <i class="fa fa-user-plus"></i>
            </div>
            <div class="timeline-label">
              <h2>Sign Up</h2>
              <p>Sign up alone (and be paired with 2-3 other solo challengers) or sign up as a team of 3-4!
                <br>If you sign up with less than 3 in your team, you may post an ad to recruit members or join other
                teams in our in-house developed team portal.
                <br>With this, anybody can participant.
              </p>
            </div>
          </div>
        </article>

        <article class="timeline-entry">
          <div class="timeline-entry-inner">
            <div class="timeline-icon bg-orange">
              <i class="fa fa-lightbulb-o"></i>
            </div>
            <div class="timeline-label">
              <h2>Ideation</h2>
              <p>Prepare a 1 page proposal, OR a 5mins video on your innovative solution to one of the challenges
                in your selected track. Submission ends 17 May!</p>
            </div>
          </div>
        </article>

        <article class="timeline-entry">
          <div class="timeline-entry-inner">
            <div class="timeline-icon bg-yellow">
              <i class="fa fa-check"></i>
            </div>
            <div class="timeline-label">
              <h2>Finalist selection </h2>
              <p>Up to 20 teams for each track will be selected to enter the finals! Finalists selection will begin on
                18 May, and results will be announced 3 June.</p>
            </div>
          </div>
        </article>

        <article class="timeline-entry">
        <div class="timeline-entry-inner">
          <div class="timeline-icon bg-green">
            <i class="fa fa-rocket"></i>
          </div>
          <div class="timeline-label">
            <h2>Prototyping</h2>
            <p>If you are selected as a finalist, you will get to develop a prototype for the solution you have
              proposed! There will be opportunities to work with a mentor, and to attend a series of workshops
              exclusively for finalists.</p>
          </div>
        </div>
      </article>

        <article class="timeline-entry">
          <div class="timeline-entry-inner">
            <div class="timeline-icon bg-blue">
              <i class="fa fa-comments-o"></i>
            </div>
            <div class="timeline-label">
              <h2>Showcase</h2>
              <p>Day 1 of the Finale. <br>Finalists will come together on 22 June to showcase their hard work to a panel of
                judges in NUS Utown!
                <br>If you made it to the Finals, you will have the exclusive chance to showcase your
                work to visiting executives and NUS SoC IS department industry seminar in the Finalists exhibition.
                <br>On this day, there will also be 10mins of closed door pitching to select the final winners.</p>
            </div>
          </div>
        </article>

        <article class="timeline-entry">
          <div class="timeline-entry-inner">
            <div class="timeline-icon bg-violet">
              <i class="fa fa-sign-language"></i>
            </div>
            <div class="timeline-label">
              <h2>Closing Ceremony</h2>
              <p>Day 2 of the Finale.<br> The top 3 winners for each track will be announced at the Closing Ceremony.
                <br>If you are called out at this stage, you will have the honour to go on stage for a 3mins pitch
                in front of a panel of judges! This will determine the order of the winners, but either way, you are a
                champion and a victor already! What’s more, the closing of the Finale is held in concurrence with the
                NUS SoC IS department Industry Seminar closing.
                <br>This means many pairs of eyeballs for you to show off your work to and many industry leaders
                to network with!</p>
            </div>
          </div>
        </article>

        <article class="timeline-entry begin">
          <div class="timeline-entry-inner">
            <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
              <i class="entypo-flight"></i>
            </div>
          </div>
        </article>

      </div>

      </div>
    </div>
  </div>

</section>

<!-- Important dates -->
<section class="other">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="section-heading">Important Dates</h1>
    </div>
  </div>

  <div class="main">
    <ul class="cbp_tmtimeline">
      <li>
        <time class="cbp_tmtime"><span>2017</span> <span>5 April</span></time>
        <div class="cbp_tmicon cbp_tmicon-phone"></div>
        <div class="cbp_tmlabel">
          <h2>Challenge statements released</h2>
        </div>
      </li>

      <li>
        <time class="cbp_tmtime"><span>2017</span> <span>5 May</span></time>
        <div class="cbp_tmicon cbp_tmicon-screen"></div>
        <div class="cbp_tmlabel">
          <h2>Q&A session in NUS Utown</h2>
        </div>
      </li>

      <li>
        <time class="cbp_tmtime"><span>2017</span> <span>17 May</span></time>
        <div class="cbp_tmicon cbp_tmicon-mail"></div>
        <div class="cbp_tmlabel">
          <h2>Proposal submission deadline</h2>
        </div>
      </li>

      <li>
        <time class="cbp_tmtime"><span>2017</span> <span>3 June</span></time>
        <div class="cbp_tmicon cbp_tmicon-phone"></div>
        <div class="cbp_tmlabel">
          <h2>Finalists results released</h2>
        </div>
      </li>

      <li>
        <time class="cbp_tmtime"><span>2017</span> <span>22 June</span></time>
        <div class="cbp_tmicon cbp_tmicon-earth"></div>
        <div class="cbp_tmlabel">
          <h2>Closed door pitching + showcase</h2>
        </div>
      </li>

      <li>
        <time class="cbp_tmtime"><span>2017</span> <span>23 June</span></time>
        <div class="cbp_tmicon cbp_tmicon-screen"></div>
        <div class="cbp_tmlabel">
          <h2>Top 3 winners announced + Closing Ceremony (prize presentation)</h2>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- Prizes Section -->
<section id="prizes" class="layer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading" id="statement-section-heading">Prizes</h1>
        <h4>
          There will 3 winners for each track of the competition.
          Prize is awarded to the winning team, and the way it is divided among the members is entirely up to the team.
        </h4>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3">
        <h3 class="service-heading">First Prize</h3>
        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primaryAbout"></i>
                        <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                    </span>
        <h3 class="service-heading">$2000 in cash</h3>
        <p class="text-muted">$2000 in cash + exclusive internship opportunity with title sponsor!</p>
      </div>
      <div class="col-md-3">
        <h3 class="service-heading">Second Prize</h3>
        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primaryAbout"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
        <h3 class="service-heading">$1500 in cash</h3>
      </div>
      <div class="col-md-3">
        <h3 class="service-heading">Third Prize</h3>
        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primaryAbout"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
        <h3 class="service-heading">$1000 in cash</h3>
      </div>
      <div class="col-md-3">
        <h3 class="service-heading">Popz</h3>
        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primaryAbout"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
        <h3 class="service-heading">$500 Voucher</h3>
        <p class="text-muted">There will be one popularity winner. The team that receives the most votes from visitors will win $500 in vouchers from Zalora!</p>
      </div>
    </div>
  </div>
</section>

<section class="about-bg">
  <div class="container">
    <div class="row">

      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                Collapsible Group 1</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                Collapsible Group 2</a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                Collapsible Group 3</a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; BiZit Festival 2017</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href=""><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href=""><i class="fa fa-facebook"></i></a>
          </li>
        </ul>
      </div>
      <!--<div class="col-md-4">-->
        <!--<ul class="list-inline quicklinks">-->
          <!--<li><a href="">Privacy Policy</a>-->
          <!--</li>-->
          <!--<li><a href="">Terms of Use</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    </div>
  </div>
</footer>

</body>

</html>
