<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'agency' %>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">

  <%=stylesheet_link_tag('application')%>
  <%= stylesheet_link_tag 'agency' %>

</head>

<body id="page-top" class="bigDataBody">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-bd navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="/">BiZiT Festival 17</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/smartnation">Smart Nation</a>
        </li>
        <li>
          <a href="/bigdata">Big Data</a>
        </li>
        <li>
          <a href="/fintech">FinTech</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/login" class="btn-login">Login</a>
        </li>
        <li>
        <li><a href="https://www.facebook.com/bizitsociety/"><i class="fa fa-facebook"></i></a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header id="bigdataHeader">
  <div class="layer">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Big Data</div>
      <div class="intro-heading">The Challenges of Business Innovation</div>
      <a href="/users" class="btn-register">Register</a>
      <div class = "register-bar"> 22 June - 23 June 2017 <br> University Town, NUS </div>
    </div>
  </div>
  </div>
</header>

<!-- Challenge Statement Section -->
<section id="statement" class="bd-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Challenge Statement</h1>
        <!--to use id="statement-section-heading" later-->
        <!--<h3 class="section-subheading text-muted">Submission Deadline</h3>-->
        <h3 class="section-heading">
          Watch this space for the Challenge Statement on 5 April !
        </h3>
        <div class="statementText">
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Prizes Section -->
<!--<section id="prizes" class="other">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-lg-12 text-center">-->
        <!--<h1 class="section-heading" id="statement-section-heading">Prizes</h1>-->
        <!--<h4>-->
          <!--There will 3 winners for each track of the competition.-->
          <!--Prize is awarded to the winning team, and the way it is divided among the members is entirely up to the team.-->
        <!--</h4>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row text-center">-->
      <!--<div class="col-md-3">-->
        <!--<h3 class="service-heading">First Prize</h3>-->
        <!--<span class="fa-stack fa-4x">-->
                        <!--<i class="fa fa-circle fa-stack-2x text-primaryBD"></i>-->
                        <!--<i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>-->
                    <!--</span>-->
        <!--<h3 class="service-heading">$2000 in cash</h3>-->
        <!--<p class="text-muted">$2000 in cash + exclusive internship opportunity with title sponsor!</p>-->
      <!--</div>-->
      <!--<div class="col-md-3">-->
        <!--<h3 class="service-heading">Second Prize</h3>-->
        <!--<span class="fa-stack fa-4x">-->
                        <!--<i class="fa fa-circle fa-stack-2x text-primaryBD"></i>-->
                        <!--<i class="fa fa-money fa-stack-1x fa-inverse"></i>-->
                    <!--</span>-->
        <!--<h3 class="service-heading">$1000 in cash</h3>-->
      <!--</div>-->
      <!--<div class="col-md-3">-->
        <!--<h3 class="service-heading">Third Prize</h3>-->
        <!--<span class="fa-stack fa-4x">-->
                        <!--<i class="fa fa-circle fa-stack-2x text-primaryBD"></i>-->
                        <!--<i class="fa fa-money fa-stack-1x fa-inverse"></i>-->
                    <!--</span>-->
        <!--<h3 class="service-heading">$500 in cash</h3>-->
      <!--</div>-->
      <!--<div class="col-md-3">-->
        <!--<h3 class="service-heading">Popz</h3>-->
        <!--<span class="fa-stack fa-4x">-->
                        <!--<i class="fa fa-circle fa-stack-2x text-primaryBD"></i>-->
                        <!--<i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>-->
                    <!--</span>-->
        <!--<h3 class="service-heading">$500 Voucher</h3>-->
        <!--<p class="text-muted">There will be one popularity winner. The team that receives the most votes from visitors will win $500 in vouchers from Zalora!</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->


<!-- Sponsors -->
<section id=sponsors" class="layer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Sponsors</h1>
        <h3 class="section-heading">
          Sponsor titles for this track to be unveiled soon!
        </h3>
      </div>
    </div>
    <!--<div class="row">-->
      <!--<div class="col-md-4 col-sm-6">-->
        <!--<a href="http://info.singtel.com/">-->
          <!--&lt;!&ndash;<img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">&ndash;&gt;-->
          <!--<%= image_tag 'logos/envato.jpg', :class => 'img-responsive img-centered'%>-->

        <!--</a>-->
      <!--</div>-->
      <!--<div class="col-md-4 col-sm-6">-->
        <!--<a href="">-->
          <!--&lt;!&ndash;<img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">&ndash;&gt;-->
          <!--<%= image_tag 'logos/designmodo.jpg', :class => 'img-responsive img-centered'%>-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="col-md-4 col-sm-6">-->
        <!--<a href="">-->
          <!--&lt;!&ndash;<img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">&ndash;&gt;-->
          <!--<%= image_tag 'logos/themeforest.jpg', :class => 'img-responsive img-centered'%>-->
        <!--</a>-->
      <!--</div>-->

    <!--</div>-->
    <!--<div class="sponsor row">-->
      <!--<div class="col-md-4 col-sm-6">-->
        <!--<a href="">-->
          <!--&lt;!&ndash;<img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">&ndash;&gt;-->
          <!--<%= image_tag 'logos/creative-market.jpg', :class => 'img-responsive img-centered'%>-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class = "col-md-4 text-center">
        <span class="copyright">Copyright © 2017 BiZiT Society</span>
      </div>
      <div class = "col-md-4 text-center">
        <ul class="list-inline social-buttons">
          <li><a href="https://www.facebook.com/bizitsociety/"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="https://www.instagram.com/bizitsociety/ "><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <span class="copyright">Contact us at: <a href="mailto:festival@bizitsociety.org">festival@bizitsociety.org</a></span>
      </div>
    </div>
  </div>
</footer>

</body>

</html>
