<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'agency' %>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">

  <%=stylesheet_link_tag('application')%>
  <%= stylesheet_link_tag 'agency' %>
  <%= stylesheet_link_tag 'events' %>
  <%= stylesheet_link_tag 'talk' %>
  <!--<%= stylesheet_link_tag 'form-elements' %>-->

</head>

<body id="page-top" class="WSBody">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-home navbar-fixed-top">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle collapsed" data-turbolinks-permanent data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/">BiZiT Festival</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/smartnation">Smart Nation</a>
        </li>
        <li>
          <a href="/bigdata">Big Data</a>
        </li>
        <li>
          <a href="/fintech">FinTech</a>
        </li>
        <li>
          <a href="/BiZiTalk">BiZiTalk</a>
        </li>
        <li>
          <a href="/workshops">Workshops</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/login" class="btn-login">Login</a>
        </li>
        <li>
        <li><a href="https://www.facebook.com/bizitsociety/"><i class="fa fa-facebook"></i></a>
        </li>
        <li><a href="https://www.instagram.com/bizitsociety/" id="navInstagram"><i class="fa fa-instagram"></i></a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<section class="layer">
  <div class="container">


    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">BiZiTalk</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>

      <div class="col-md-8">
        <ul class="event-list talkul">

          <li>
            <time datetime="2017-06-22" class="talk-time">
              <span class="day">22</span>
              <span class="month">Jun</span>
              <span class="year">2017</span>
              <span class="time">ALL DAY</span>
            </time>
            <div class="info talk">
              <h2 class="title text-center">Day 1: Innovate</h2>
              <div class="row text-center">(Details to be announced)</div>
            </div>
          </li>


          <li>
            <time datetime="2017-06-23" class="talk-time">
              <span class="day">23</span>
              <span class="month">Jun</span>
              <span class="year">2017</span>
              <span class="time">ALL DAY</span>
            </time>
            <div class="info talk">
              <h2 class="title text-center" id="day2"><a class="page-scroll" href="#Day2">Day 2: IS Industry Seminar/Panel Discussion</a></h2>
              <div class="row text-center">

                <a class="btn btn-warning" href="https://www.eventbrite.sg/e/bizit-festival-finale-tickets-35118224555" target="_blank">Register</a>

              </div>
              <div class="row text-center"></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-2"></div>
    </div>

  </div>
</section>


<!--Day 2 timeline-->
<section class="dark-blue" id="Day2">
  <div class="container">

      <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="section-heading" id="statement-section-heading">Day 2: 23 June</h1>
            <h3 style="margin-bottom: 50px">
              <a href="#overview" class="portfolio-link orange-a" data-toggle="modal">IS Industry Seminar/Panel Discussion</a>
            </h3>
        </div>
      </div>

      <ul class="timeline">
            <li><div class="tldate">8.30 ~ 9.00am Registration</div></li>

            <li>
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4>Opening talk on Fintech</h4>
                  <h3><span class="fa fa-clock-o"></span> 9.00 ~ 9.45am</h3>
                </div>
                <div class="tl-body">
                  <p>Speaker: <a class="page-scroll" href="#Damien_Pang">Mr. Damien Pang</a></p>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4><a href="#panel1" class="portfolio-link red-a" data-toggle="modal">Panel 1: Fintech Innovation and the Singapore Business Environment</a></h4>
                  <h3><span class="fa fa-clock-o"></span> 9.45 ~ 10.30am</h3>
                </div>
                <div class="tl-body">
                  <p>Panelists:
                    <br><a class="page-scroll" href="#Huang_Ke‐Wei">Prof. Huang Ke‐Wei</a>
                    <br><a class="page-scroll" href="#Anupam_Pahuja">Mr. Anupam Pahuja</a>
                    <br><a class="page-scroll" href="#Alan_Lim">Mr. Alan Lim</a>
                    <br><a class="page-scroll" href="#Lai_Pei_Si">Ms. Lai Pei Si</a>
                  </p>
                </div>
              </div>
            </li>

            <li><div class="tldate">10.30 ~ 11.00am Tea Break</div></li>

            <li>
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4>Talk on M‐commerce</h4>
                  <h3><span class="fa fa-clock-o"></span> 11.00 ~ 11.45am</h3>
                </div>
                <div class="tl-body">
                  <p>Speaker: <a class="page-scroll" href="#Anindya_Ghose">Prof. Anindya Ghose</a></p>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4><a href="#panel2" class="portfolio-link red-a" data-toggle="modal">Panel 2: Advancing Digital Commerce through Customer Analytics</a></h4>
                  <h3><span class="fa fa-clock-o"></span> 11.45 ~ 12.30pm</h3>
                </div>
                <div class="tl-body">
                  <p>Panelists:
                    <br><a class="page-scroll" href="#Teo_Hock_Hai">Prof. Teo Hock Hai</a>
                    <br><a class="page-scroll" href="#Arun_Rai">Prof. Arun Rai</a>
                    <br><a class="page-scroll" href="#Bin_Gu">Prof. Bin Gu</a>
                    <br><a class="page-scroll" href="#Jensen_Tan">Mr. Jensen Tan</a>
                    <br><a class="page-scroll" href="#Silvia">Ms. Silvia Thom</a>
                  </p>
                </div>
              </div>
            </li>

            <li><div class="tldate">12.30 ~ 2.00pm Lunch</div></li>

            <li>
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4>Talk on Smart Nation</h4>
                  <h3><span class="fa fa-clock-o"></span> 2.00 ~ 2.45pm</h3>
                </div>
                <div class="tl-body">
                  <p>Speaker: <a class="page-scroll" href="#Carl_Ward">Mr. Carl Ward</a></p>
                </div>
              </div>
            </li>


            <li class="timeline-inverted">
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4><a href="#panel3" class="portfolio-link red-a" data-toggle="modal">Panel 3: Smart Nation: Instrumented, Innovative, and Participatory</a></h4>
                  <h3><span class="fa fa-clock-o"></span> 2.45 ~ 3.30pm</h3>
                </div>
                <div class="tl-body">
                  <p>Panelists:
                    <br><a class="page-scroll" href="#Atreyi_Kankanhalli">Prof. Atreyi Kankanhalli</a>
                    <br><a class="page-scroll" href="#Alex_Siow">Prof. Alex Siow</a>
                    <br><a class="page-scroll" href="#Elena_Karahanna">Prof. Elena Karahanna</a>
                    <br><a class="page-scroll" href="#Daniel_Teo">Mr. Daniel Teo</a>
                    <br><a class="page-scroll" href="#Carl_Ward">Mr. Carl Ward</a>
                  </p>
                </div>
              </div>
            </li>

            <li><div class="tldate">3.30 ~ 4.00pm Tea Break</div></li>

            <li>
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4>BiZiT Challenge Finalist Presentations</h4>
                  <h3><span class="fa fa-clock-o"></span> 4.00 ~ 5.00pm</h3>
                </div>
              </div>
            </li>

            <li>
              <div class="timeline-panel noarrow">
                <div class="tl-heading">
                  <h4>Guest of Honour Speech</h4>
                  <h3><span class="fa fa-clock-o"></span> 5.00 ~ 5.30pm</h3>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4>BiZiT Challenge Awards Ceremony/Photo Taking</h4>
                  <h3><span class="fa fa-clock-o"></span> 5.30 ~ 6.00pm</h3>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-panel noarrow">
                <div class="tl-heading">
                  <h4>Dinner and Networking</h4>
                  <h3><span class="fa fa-clock-o"></span> 6.00 ~ 7.00pm</h3>
                </div>
              </div>
            </li>
          </ul>

    <div class="row nextNextRow text-center">
      <a class="btn btn-warning" href="https://www.eventbrite.sg/e/bizit-festival-finale-tickets-35118224555" target="_blank">Register</a>
    </div>

  </div>
</section>

<!-- Overview modal -->
<div class="portfolio-modal modal fade" id="overview" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="modal-body">
              <div class="row">
                <div class="portfolioDiv">
                  <h2><span>Day 2: 23 June</span></h2>
                  <h3><span>IS Industry Seminar/Panel Discussion</span></h3>
                </div>
              </div>
              <div class = "row portfolioDiv">
                <p class="text-justify">
                  BiZiT Festival is held in collaboration with the Innovation-Connect-Economy Workshop organised by the Department of Information Systems, School of Computing, National University of Singapore.
                  <br>
                  <br>
                  Digital innovation is changing the nature of business across all sectors of the economy at a faster pace than ever before. Whether it is financial institutions, retailers, SMEs, or IT functions across all sectors,
                  it is imperative for organizations to adapt to these changes in order to survive and thrive. For professionals across all sectors who are interested in updating themselves on the latest computing trends, this is an event not to be missed.
                  Hear from our international panel of academic experts and senior management of organizations such as Monetary Authority of Singapore, Smart Nation Digital Government Office, IBM, Standard Chartered, Singtel, Zalora, Accenture,
                  and other leaders as they bring you up to speed on the hot button topics of Fintech Innovation and the Singapore Business Environment, Advancing Digital Commerce through Analytics, and Smart Nation - Instrumented, Innovative, and Participatory.
                  <br>
                  <br>
                  There will be 3 separate sessions (Fintech | Big Data | Smart Nation) of thematic talks inclusive of keynote speeches and panel discussions from 9am – 3pm. Speakers include prominent executives from leading firms and government regulators. Researchers will also be sharing their latest insights from their research work.
                </p>
              </div>
              <div class = "nextRow">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- panel 1 modal -->
<div class="portfolio-modal modal fade" id="panel1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="modal-body">
              <div class="row">
                <div class="portfolioDiv">
                  <h3><span>Panel 1 Sample Topics</span></h3>
                </div>
              </div>
              <div class = "row portfolioDiv">
                <p>
                  <ul class="text-justify">
                    <li>What are the potential areas in which FinTech may be truly game-changing for industries in Singapore?</li>
                    <li>How and when will FinTech innovations help SMEs improve financing or cash management?</li>
                    <li>Will FinTech innovations in insurance or hedging help SMEs better manage operational risks?</li>
                    <li>Blockchain and the CIO: is it important for the IT model of non-financial companies?</li>
                  </ul>
                </p>
              </div>
              <div class = "nextRow">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- panel 2 modal -->
<div class="portfolio-modal modal fade" id="panel2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="modal-body">
              <div class="row">
                <div class="portfolioDiv">
                  <h3><span>Panel 2 Sample Topics</span></h3>
                </div>
              </div>
              <div class = "row portfolioDiv">
                <p>
                <ul class="text-justify">
                  <li>How can customer analytics be applied to gain strategic insights in product/service innovation?</li>
                  <li>What are the key challenges in cultivating an analytics culture in an enterprise?</li>
                  <li>Is the start-up cost for building analytics capabilities high and how to go about doing so?</li>
                  <li>What are the issues for SMEs to make use of social media and big data analytics and possible solutions?</li>
                </ul>
                </p>
              </div>
              <div class = "nextRow">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- panel 3 modal -->
<div class="portfolio-modal modal fade" id="panel3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="modal-body">
              <div class="row">
                <div class="portfolioDiv">
                  <h3><span>Panel 3 Sample Topics</span></h3>
                </div>
              </div>
              <div class = "row portfolioDiv">
                <p>
                <ul class="text-justify">
                  <li>How to develop a Smart Nation as an open lab for innovation?</li>
                  <li>How can the challenges of retrofitting (transforming existing cities to smart cities) be met, particularly in terms of sensors and instrumentation?</li>
                  <li>How can SMEs participate in and benefit from the transformation of Singapore to a Smart Nation?</li>
                  <li>How can business contribute towards and leverage the Smart Nation initiative?</li>
                </ul>
                </p>
              </div>
              <div class = "nextRow">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Speakers-->
<section id="portfolio" class="layer">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Speakers</h1>
       </div>
    </div>

      <div class="row">

        <div class="col-sm-3">
          <div class="speakersDiv" id="Damien_Pang">
            <%= image_tag 'speakers/Damien_Pang.png',:class => 'img-responsive img-circle'%>
            <h3><span><a href="#Damien_Pang_Profile" class="portfolio-link" data-toggle="modal">Mr. Damien Pang</a></span></h3>
            <p class="text-muted">Innovation Acceleration Office, FinTech & Innovation Group, Monetary Authority of Singapore</p>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="speakersDiv" id="Huang_Ke‐Wei">
            <%= image_tag 'speakers/huangkw.png',:class => 'img-responsive img-circle'%>
            <h3><span><a href="#Huang_Ke‐Wei_Profile" class="portfolio-link" data-toggle="modal">Prof. Huang Ke‐Wei</a></span></h3>
            <p class="text-muted">National University of Singapore</p>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="speakersDiv" id="Anupam_Pahuja">
            <%= image_tag 'speakers/Anupam_Pahuja.jpg', :class => 'img-responsive img-circle'%>
            <h3><span><a href="#Anupam_Pahuja_Profile" class="portfolio-link" data-toggle="modal">Mr. Anupam Pahuja</a></span></h3>
            <p class="text-muted">MD, Country Manager India and GM Technology APAC, PayPal</p>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="speakersDiv" id="Alan_Lim">
            <%= image_tag 'speakers/Alan_Lim.png', :class => 'img-responsive img-circle'%>
            <h3><span><a href="#Alan_Lim_Profile" class="portfolio-link" data-toggle="modal">Mr. Alan Lim</a></span></h3>
            <p class="text-muted">ASEAN Garage Leader, IBM</p>
          </div>
        </div>

      </div>

      <div class="row nextRow">

        <div class="col-sm-3">
          <div class="speakersDiv" id="Lai_Pei_Si">
            <%= image_tag 'speakers/Lai_Pei_Si.png',:class => 'img-responsive img-circle'%>
            <h3><span><a href="#Lai_Pei_Si_Profile" class="portfolio-link" data-toggle="modal">Ms. Lai Pei Si</a></span></h3>
            <p class="text-muted">Head, Strategic Programmes Singapore</p>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="speakersDiv" id="Anindya_Ghose">
            <%= image_tag 'speakers/Anindya_Ghose.png',:class => 'img-responsive img-circle'%>
            <h3><span><a href="#Anindya_Ghose_Profile" class="portfolio-link" data-toggle="modal">Prof. Anindya Ghose</a></span></h3>
            <p class="text-muted">New York University</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="speakersDiv" id="Teo_Hock_Hai">
            <%= image_tag 'speakers/Teo_Hock_Hai.png', :class => 'img-responsive img-circle'%>
            <h3><span><a href="#Teo_Hock_Hai_Profile" class="portfolio-link" data-toggle="modal">Prof. Teo Hock Hai</a></span></h3>
            <p class="text-muted">National University of Singapore</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="speakersDiv" id="Arun_Rai">
            <%= image_tag 'speakers/Arun_Rai.jpg', :class => 'img-responsive img-circle'%>
            <h3><span><a href="#Arun_Rai_Profile" class="portfolio-link" data-toggle="modal">Prof. Arun Rai</a></span></h3>
            <p class="text-muted">Georgia State University</p>
          </div>
        </div>


      </div>

      <div class="row nextRow">

        <div class="col-sm-3">
          <div class="speakersDiv" id="Bin_Gu">
            <%= image_tag 'speakers/Bin_Gu.jpg',:class => 'img-responsive img-circle'%>
            <h3><span><a href="#Bin_Gu_Profile" class="portfolio-link" data-toggle="modal">Prof. Bin Gu</a></span></h3>
            <p class="text-muted">Arizona State University</p>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="speakersDiv" id="Jensen_Tan">
            <%= image_tag 'speakers/Jensen_Tan.png',:class => 'img-responsive img-circle'%>
            <h3><span><a href="#Jensen_Tan_Profile" class="portfolio-link" data-toggle="modal">Mr. Jensen Tan</a></span></h3>
            <p class="text-muted">Head, Partnership Development, Consumer Sales, Singtel</p>
          </div>
        </div>


        <div class="col-sm-3">
          <div class="speakersDiv" id="Silvia">
            <%= image_tag 'speakers/Silvia.jpg',:class => 'img-responsive img-circle'%>
            <h3><span><a href="#Silvia_Thom_Profile" class="portfolio-link" data-toggle="modal">Ms. Silvia Thom</a></span></h3>
            <p class="text-muted">Regional Director, Zalora</p>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="speakersDiv" id="Carl_Ward">
            <%= image_tag 'speakers/Carl_Ward.jpg',:class => 'img-responsive img-circle'%>
            <h3><span>Mr. Carl Ward</span></h3>
            <p class="text-muted">Managing Director, APAC Health and Public Service Technology, Accenture</p>
          </div>
        </div>

      </div>

    <div class="row nextRow">
      <div class="col-sm-3">
        <div class="speakersDiv" id="Atreyi_Kankanhalli">
          <%= image_tag 'speakers/Atreyi_Kankanhalli.png', :class => 'img-responsive img-circle'%>
          <h3><span><a href="#Atreyi_Kankanhalli_Profile" class="portfolio-link" data-toggle="modal">Prof. Atreyi Kankanhalli</a></span></h3>
          <p class="text-muted">National University of Singapore</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="speakersDiv" id="Alex_Siow">
          <%= image_tag 'speakers/Alex_Siow.png', :class => 'img-responsive img-circle'%>
          <h3><span><a href="#Alex_Siow_Profile" class="portfolio-link" data-toggle="modal">Prof. Alex Siow</a></span></h3>
          <p class="text-muted">National University of Singapore</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="speakersDiv" id="Elena_Karahanna">
          <%= image_tag 'speakers/Elena_Karahanna.png',:class => 'img-responsive img-circle'%>
          <h3><span><a href="#Elena_Karahanna_Profile" class="portfolio-link" data-toggle="modal">Prof. Elena Karahanna</a></span></h3>
          <p class="text-muted">University of Georgia</p>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="speakersDiv" id="Daniel_Teo">
          <%= image_tag 'speakers/Daniel_Teo.png',:class => 'img-responsive img-circle'%>
          <h3><span><a href="#Daniel_Teo_Profile" class="portfolio-link" data-toggle="modal">Mr. Daniel Teo</a></span></h3>
          <p class="text-muted">Program Director, GovTech</p>
        </div>
      </div>

    </div>

  </div>
</section>

<!--mailing list-->
<!--<section id="contactForm" class="layer-Gao">-->
  <!--<div class="container">-->
    <!--<a name="mailing2"></a>-->
    <!--<div class="row" style="margin-bottom: 20px">-->
      <!--<div class="col-lg-12 text-center">-->
        <!--<h1 class="section-heading">Mailing List</h1>-->
        <!--<% flash.each do |key, value| %>-->
            <!--<div class="alert alert-<%= key %>"><%= value %></div>-->
        <!--<% end %>-->
        <!--<h3 class="section-heading">-->
          <!--Sign up to get updated about the Finale!-->
        <!--</h3>-->

      <!--</div>-->

    <!--</div>-->
    <!--<%= simple_form_for :mailing_list, url: '/addList2' do |f| %>-->
        <!--<%= f.input :email, placeholder: 'Email', label: false %>-->
        <!--<%= f.button :button, 'Sign up!', class: 'btn-mail' %>-->
    <!--<% end %>-->
  <!--</div>-->

<!--</section>-->


<!-- Damien_Pang_Profile -->
<div class="portfolio-modal modal fade" id="Damien_Pang_Profile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="modal-body">
              <div class="row">
                <div class="portfolioDiv">
                  <%= image_tag 'speakers/Damien_Pang.png',:class => 'img-responsive img-circle'%>
                  <h4><span>Mr. Damien Pang</span></h4>
                  <h5>Innovation Acceleration Office, FinTech & Innovation Group, Monetary Authority of Singapore</h5>
                </div>
              </div>
              <div class = "row portfolioDiv">
                <p class="text-justify">
                  Damien is currently heading the Technology Infrastructure Office under the FinTech & Innovation Group (FTIG) at the Monetary Authority of Singapore (MAS) that is responsible for regulatory policies and strategies for developing safe and efficient technology enabled infrastructures for the financial sector. Prior to this role, he led the team at MAS on technology risk management and cyber security policies.
                  <br><br>Before joining MAS, he was a senior manager in InfoAssurance at the Defence Science and Technology Agency (DSTA), and led the security domain under IDA’s Singapore Government – Technology (ICT) Reference Model (SG-TRM) program for public sector-wide interoperability and standardisation.
                  He was also one of the co-founders for (ISC)2 Singapore Chapter, and the chapter’s vice president until 2014.
                </p>
              </div>
              <div class = "nextRow">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Huang_Ke‐Wei_Profile -->
<div class="portfolio-modal modal fade" id="Huang_Ke‐Wei_Profile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="modal-body">
              <div class="row">
                <div class="portfolioDiv">
                  <%= image_tag 'speakers/huangkw.png',:class => 'img-responsive img-circle'%>
                  <h4><span>Prof. Huang Ke‐Wei</span></h4>
                  <h5>National University of Singapore</h5>
                </div>
              </div>
              <div class = "row portfolioDiv">
                <p class="text-justify">
                Dr. Ke-Wei Huang is an Associate Professor in the Department of Information Systems at the National University of Singapore (NUS).
                  Dr. Huang joined NUS in July 2007. He received his Ph.D. (2007), M.Phil. (2005), and M.Sc. (2002) degrees in Information Systems from the Stern School of Business at New York University, and his M.B.A. in Finance (1997) and B.Sc. in Electrical Engineering (1995) from National Taiwan University.
                <br><br>
                Dr. Huang’s research interests are in the economics of information systems and data mining for financial applications. Currently, he focuses on various topics of pricing digital goods, labor economics of IT professionals, and data mining or econometrics issues for topics in accounting or finance.
                </p>
              </div>
              <div class = "nextRow">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Anupam_Pahuja_Profile -->
<div class="portfolio-modal modal fade" id="Anupam_Pahuja_Profile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="modal-body">
              <div class="row">
                <div class="portfolioDiv">
                  <%= image_tag 'speakers/Anupam_Pahuja.jpg',:class => 'img-responsive img-circle'%>
                  <h4><span>Mr. Anupam Pahuja</span></h4>
                  <h5>General Manager, Paypal</h5>
                </div>
              </div>
              <div class = "row portfolioDiv">
                <p class="text-justify">
                  Anupam Pahuja is the General Manager of Singapore Developer Center. He is responsible for the business operations and management of the technology center in Singapore. These talented technologists are part of a global team that is constantly innovating and driving software development initiatives that enhance and expand PayPal’s global payments platform. The technology centers house a best-in-class team of software developers, architects, user experience engineers, web developers, data analytics & project managers.
                  <br><br>
                  Anupam joined PayPal as the General Manager of India Development Centers in 2010. Bringing with him years of international experience in technology, consulting and entrepreneurship, Anupam has been instrumental in making the India centers one of the best places to work in the country. The PayPal centers in India have been ranked among the top 15 IT companies in the “India’s Best Places to Work” for 6 years in a row, by the Great Places to Work Institute and The Economic Times.
                  <br><br>
                  Anupam has a wealth of experience managing large-scale multinational enterprises, and has also incubated and sold several businesses. Prior to PayPal, Anupam was the Managing Director for India for NASDAQ-listed SumTotal Systems, the world’s largest eLearning company. In this role, Anupam managed the company’s global product development and led sales, marketing, and professional services for the APAC region.
                  <br><br>
                  In 2000, Anupam founded MobiApps Inc, a mobile focused company where he played the role of the CTO and COO and sold the company in 2006. He then founded SeaKey another high tech startup, which failed in 2008. He also serves as a Board Member for several companies and nonprofit organizations.
                  <br><br>
                  Anupam holds an undergraduate degree in Computer Science from Slippery Rock University of Pennsylvania and an MBA in International Business from Georgetown University.
                </p>
              </div>
              <div class = "nextRow">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alan_Lim_Profile -->
<div class="portfolio-modal modal fade" id="Alan_Lim_Profile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="modal-body">
              <div class="row">
                <div class="portfolioDiv">
                  <%= image_tag 'speakers/Alan_Lim.png',:class => 'img-responsive img-circle'%>
                  <h4><span>Mr. Alan Lim</span></h4>
                  <h5>ASEAN Practice Lead, IBM Blockchain & Bluemix Garage</h5>
                </div>
              </div>
              <div class = "row portfolioDiv">
                <p class="text-justify">
                  Alan heads the Garage practice for IBM in South East Asia. The garage is a consultancy with a startup DNA empowering companies, large and small, to adopt Blockchain, IoT, Cognitive Computing and other emerging technologies using IBM Design Thinking, Lean Startup and Agile DevOps. His current focus includes working with regulators, startups and large financial services organisations to build Blockchain based business networks.
                  <br><br>
                  Prior to this, Alan Lim was the Lead Software Architect for IBM in Singapore. During which he led his team of Senior IT Architects to work with enterprises across industries on the solution design and strategy for digital transformation.  Alan’s expertise is in distributed computing, large-scale transactional systems and enterprise modernization. His experience includes working with major banks on the design and implementation of IBM solutions for their Digital Banking and Core Banking Transformation programs. In the government space, he has designed and implemented solutions involving complex, cross agency integrations.
                  <br><br>
                  Alan serves on the board of directors of Caritas Singapore, a non-profit organisation that support a wide array of causes such as the poor, children, youth at risk, families, prisoners, elderly, sick, people with life-limiting illnesses, people with HIV/AIDS, those with disabilities, migrant workers, people with legal and medical needs.
                </p>
              </div>
              <div class = "nextRow">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Lai_Pei_Si_Profile -->
<div class="portfolio-modal modal fade" id="Lai_Pei_Si_Profile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="modal-body">
              <div class="row">
                <div class="portfolioDiv">
                  <%= image_tag 'speakers/Lai_Pei_Si.png',:class => 'img-responsive img-circle'%>
                  <h4><span>Ms. Lai Pei Si</span></h4>
                  <h5>Head, Strategic Programmes Singapore</h5>
                </div>
              </div>
              <div class = "row portfolioDiv">
                <p class="text-justify">
                  Lai Pei-Si was appointed as Head, Strategic Programmes, Singapore in Nov 2016. In line with the corporate strategy for the Singapore franchise, Pei-Si will work with the CMT to deliver strategic programmes across all segments. These include the introduction of innovative and market disruptive propositions for the emerging affluent and affluent client segments; strengthening our network platform to be the partner for internationally oriented companies; and implementation of end-to-end digitisation with a “human” touch. In addition, Pei-Si will continue to lead on a number of strategic programmes for the ASEAN and South Asia (ASA) region, supporting Anna Marrs, Regional CEO, ASEAN & South Asia.
                  <br><br>
                  Pei-Si joined the Bank in 1999 as a Personal Financial Consultant in Singapore and rose through the ranks with her wealth of experience, proven capabilities in managing teams and effecting tangible improvements, and successful execution of change management. She is also amongst the first to be part of the Asian Financial Leaders Programme. Pei-Si moved to Brunei in 2011 as Chief Executive Officer and Head, Retail Clients Segment, Standard Chartered Brunei. She returned to Singapore in 2014 to assume the role of Head of CEO Office, Singapore and subsequently as Head of Regional CEO Office, ASA.
                  <br><br>
                  Pei-Si holds a Bachelor’s (Honours) degree in Economics & Political Science from National University of Singapore, Singapore.  She is married with four children.
                </p>
              </div>
              <div class = "nextRow">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Anindya Ghose Profile -->
<div class="portfolio-modal modal fade" id="Anindya_Ghose_Profile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="modal-body">
              <div class="row">
                <div class="portfolioDiv">
                  <%= image_tag 'speakers/Anindya_Ghose.png',:class => 'img-responsive img-circle'%>
                  <h4><span>Prof. Anindya Ghose</span></h4>
                  <h5>New York University</h5>
                </div>
              </div>
              <div class = "row portfolioDiv">
                <p class="text-justify">
                  Anindya Ghose is the Heinz Riehl Chair Professor of Business at New York University’s Leonard N. Stern School of Business. He is the Director of the Masters of Business Analytics Program at NYU Stern. He has been a Visiting Professor at the Wharton School of Business. He is on the Research Council of the Wharton Customer Analytics Institute, and a faculty affiliate with the Marketing Science Institute. He received his M.S. and Ph.D. from Carnegie Mellon University’s Tepper School of Business. In 2014, he was named by Poets & Quants as one of the Top 40 Professors Under 40 Worldwide and by Analytics Week as one the “Top 200 Thought Leaders in Big Data and Business Analytics”.
                  He is the youngest ever recipient of the highly prestigious INFORMS ISS Distinguished Fellow Award. In 2017 he was recognized by Thinkers50 as one of the Top 30 Management Thinkers globally most likely to shape the future of how organizations are managed and led in the next generation. He has consulted in various capacities for Apple, Berkeley Corporation, CBS, Dataxu, DFS Group, Facebook, NBC Universal, OneVest, Samsung, Showtime, 1-800-Contacts, and 3TI World, and collaborated with Adobe, Alibaba, China Mobile, Google, IBM, Indiegogo, Microsoft, Recobell, Travelocity and many other leading Fortune 500 firms on realizing business value from IT investments, internet, mobile marketing, business analytics, social media, and other areas. He also occasionally serves as an expert witness for information technology and consumer-related litigation (intellectual property, patent damages and consumer damages, consumer behavior in high tech industries and information disclosure on internet platforms). He currently serves as a Scientific Expert with Cornerstone Research. He also serves as a Scientific Advisor to OneVest.
                  <br><br>
                  He has published more than 80 papers in premier scientific journals and peer reviewed conferences, and has given more than 200 talks internationally. He is a frequent keynote speaker in executive gatherings and thought leading events globally. His research has received 15 best paper awards and nominations. He serves as an Associate Editor of Management Science and a Senior Editor of Information Systems Research. He is a winner of the NSF CAREER award and has been awarded 14 grants from Google, Microsoft, Adobe and several other corporations. His research analyzes the economic consequences of the Internet on industries and markets transformed by its shared technology infrastructure. He has worked on product reviews, reputation and rating systems, digital marketing, sponsored search advertising, wearable technologies, mobile commerce, mobile advertising, crowdfunding, and online markets. He has been interviewed and his research has been profiled numerous times in the
                  BBC, Bloomberg TV, CNBC, China Daily, The Economist, The Economic Times, Financial Times, Fox News, Forbes, Knowledge@Wharton, Korean Broadcasting News Company, Los Angeles Times, Marketplace Radio, MSNBC, National Public Radio, NBC, Newsweek, New York Times, New York Daily, NHK Japan Broadcasting, Quartz, Reuters, Time Magazine, Washington Post, Wall Street Journal, Xinhua, and elsewhere. He teaches courses on social media, digital marketing, business analytics and IT strategy at the undergraduate, MBA, EMBA, MSBA, and Executive Education level in various parts of the world including the US, India, China, South Korea and Europe.
                </p>
              </div>
              <div class = "nextRow">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Teo Hock Hai Profile -->
<div class="portfolio-modal modal fade" id="Teo_Hock_Hai_Profile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="modal-body">
              <div class="row">
                <div class="portfolioDiv">
                  <%= image_tag 'speakers/Teo_Hock_Hai.png',:class => 'img-responsive img-circle'%>
                  <h4><span>Prof. Teo Hock Hai</span></h4>
                  <h5>National University of Singapore</h5>
                </div>
              </div>
              <div class = "row portfolioDiv">
                <p class="text-justify">
                  Hock-Hai Teo is Provost’s Chair Professor of Information Systems. He served as the Head of the Department of Information Systems at the School of Computing, National University of Singapore from August 2008 to June 2015 and as Vice-Dean, Corporate Communications from August 2007 to August 2008.
                  <br><br>
                  His current research interests focus mainly on Health Informatics, open innovation, and IT artifacts that are geared towards improving individual decision-making, health outcomes and educational outcomes. Dr. Teo has published broadly in journals such as the ACM Transactions on Computer-Human Interactions, MIS Quarterly, Journal of Management Information Systems, Information Systems Research, IEEE Transactions on Engineering Management, International Journal of Human-Computer Studies, and Information and Management and has presented at numerous international conferences, including the International Conference on Information Systems.
                  He is currently serving or has served on the editorial boards of Data Base for Advances in Information Systems, European Journal of Information Systems, International Journal of Electronic Commerce, Information Systems Research, IEEE Transactions on Engineering Management and MIS Quarterly. He has won numerous best paper award at conferences and was also the winner of the MIS Quarterly Reviewer of the Year (2004) award.
                </p>
              </div>
              <div class = "nextRow">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Arun Rai Profile -->
<div class="portfolio-modal modal fade" id="Arun_Rai_Profile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="modal-body">
              <div class="row">
                <div class="portfolioDiv">
                  <%= image_tag 'speakers/Arun_Rai.jpg',:class => 'img-responsive img-circle'%>
                  <h4><span>Prof. Arun Rai</span></h4>
                  <h5>Georgia State University</h5>
                </div>
              </div>
              <div class = "row portfolioDiv">
                <p class="text-justify">
                  Arun Rai co-founded the Robinson College of Business’ Center for Process Innovation, an interdisciplinary research center on digital innovation that promotes industry-university partnerships. He has served as the Doctoral Director for CEPRIN’s interdisciplinary PhD program since its inception in 2000. Dr. Rai is a three-time recipient of the Robinson College of Business Faculty Recognition Award for Research, has received the Robinson College of Business Faculty Recognition Awards for Teaching and for Service, and was appointed Regents’ Professor in 2006 by the Board of Regents of the University System of Georgia in recognition for outstanding contributions in research, teaching and service. He was named Fellow of the Association for Information Systems in 2010 in recognition of his outstanding contributions in research, teaching, and service to the Information Systems discipline, and received the INFORMS Information Systems Society Distinguished Fellow Award in 2014 for outstanding intellectual contributions to the Information Systems discipline.
                  <br><br>
                  For over 25 years, Dr. Rai’s research has examined how organizations can leverage information technologies in their strategies, inter-organizational relationships, and processes, and how systems can be successfully developed, implemented, and utilized to address business and societal problems. His studies have been sponsored by major organizations across sectors (e.g., IT, healthcare, automotives, transportation, manufacturing, financial services, government) as well as by thought leadership forums and government agencies, and he has received about $2.5 million in external funding. Dr. Rai has over 200 peer-reviewed publications including 98 peer-reviewed journal articles and is ranked among the top scholars for publications in the Information Systems discipline’s most prestigious journals. His work has been extensively cited in the Information Systems discipline and also in the top journals of other disciplines including Accounting, Computer Science, Education, Healthcare, Marketing, Operations Management, Strategic Management, and Psychology. He has also given over 100 invited talks and keynotes to both academic and industry audiences.
                  <br><br>
                  Dr. Rai has chaired 29 doctoral dissertations and served as committee member on another thirty. He has developed and taught courses at the master’s and doctoral levels related to IT and strategy, supply chain management, technology and innovation, theory development and research methods. He has also developed and delivered executive education programs for major organizations and has consulted with C-level executives in various sectors on digital innovation at their organizations. He has been involved in the research community in a variety of service roles, including Senior Editor and Associate Editor for several leading journals such as Information Systems Research, MIS Quarterly, and Management Science, and as a panelist for the National Science Foundation. He currently serves as the Editor in Chief of MIS Quarterly.
                </p>
              </div>
              <div class = "nextRow">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Bin Gu Profile -->
<div class="portfolio-modal modal fade" id="Bin_Gu_Profile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="modal-body">
              <div class="row">
                <div class="portfolioDiv">
                  <%= image_tag 'speakers/Bin_Gu.jpg',:class => 'img-responsive img-circle'%>
                  <h4><span>Prof. Bin Gu</span></h4>
                  <h5>Arizona State University</h5>
                </div>
              </div>
              <div class = "row portfolioDiv">
                <p class="text-justify">
                  Bin Gu is a Professor of Information Systems and Associate Dean – China Programs at the W P Carey School of Business at Arizona State University. Prof. Gus research interests are in data analytics, online platforms, online social media and social network, mobile commerce and IT-enabled business models. His work has appeared in Management Science, MIS Quarterly, Information Systems Research, Journal of Management Information Systems, Production and Operations Management, Journal of Retailing, Decision Support Systems, Journal of Financial Service Research and other academic journals. In addition to his research activities at the W. P. Carey School of Business, Professor Gu maintains an active international research agenda. He has received multiple research grants from the Robert Wood Johnson Foundation, the NET Institute, Center for the Studies of Economic Liberty, Center for Service Leadership and National Science Foundation of China. Professor Gu teaches Emerging Technology, IT-enabled Business Model and Business Analytics Strategy across multiple online and onsite platforms at the graduate level both in the US and in China. Prior to joining ASU, Professor Gu served on the faculty at McCombs School of Business at The University of Texas at Austin. He completed his dual bachelors degrees in international business and computer science from Shanghai Jiaotong University with a rank of top 1 percent, and his MA and PhD degrees in Information Management from the Wharton School of the University of Pennsylvania.
                  <br><br>
                  Prof. Gu currently serves on the editorial boards of MIS Quarterly as a senior editor, and Information Systems Research as an associate editor. He also serves as an associate editor or program committee member of International Conference on Information Systems (ICIS), INFORMS Conference on Information Systems Technology (CIST) and ACM Conference on Electronic Commerce (ACM EC). Prof. Gu’s research was awarded the 2017 Hawaii International Conference on System Sciences Best Paper Award, the 2016 W P Carey Faculty Research Award, the 2012 an 2014 Emerald Citations of Excellence Award, the 2014 Americas Conference on Information Systems Best Research-in-Progress Award, the Journal of Retailing Top Cited Article 2007-2011, the 2008 Information Systems Research Best Published Paper Award, and the 2007 International Conference on Information Systems (ICIS) Best Paper-in-Track Award. Before joining academia, Prof. Gu had worked for Arthur Andersen.
                </p>
              </div>
              <div class = "nextRow">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Jensen Tan Profile -->
<div class="portfolio-modal modal fade" id="Jensen_Tan_Profile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="modal-body">
              <div class="row">
                <div class="portfolioDiv">
                  <%= image_tag 'speakers/Jensen_Tan.png',:class => 'img-responsive img-circle'%>
                  <h4><span>Mr. Jensen Tan</span></h4>
                  <h5>Head, Partnership Development, Consumer Sales, Singtel</h5>
                </div>
              </div>
              <div class = "row portfolioDiv">
                <p class="text-justify">
                  Jensen Tan was appointed Head, Partnership Development on 1 April 2015 to strengthen Singtel consumer channel partner’s relationships and capabilities in Prepaid, Singtel Exclusive Retailers and Mobile Remittance business. Prior to this position in 16 February 2011, he was the Director of Consumer Sales with responsibilities to Prepaid and Mobile Remittance. Under his leadership our Prepaid business gained strong sales and distribution competitive advantages as evidence in our relative market share over the last six years.
                  <br><br>
                  Prior to joining SingTel, he was the Sales Director of Kraft Foods Singapore as well as a company Director where he works closely with retailers, distributors, own sales force and regulators to drive the country strategies in sales, category management and trade marketing. He was also appointed as the change leader for Kraft Asia Pacific integration efforts in Cadbury acquisition.
                </p>
              </div>
              <div class = "nextRow">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Silvia Thom Profile -->
<div class="portfolio-modal modal fade" id="Silvia_Thom_Profile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="modal-body">
              <div class="row">
                <div class="portfolioDiv">
                  <%= image_tag 'speakers/Silvia.jpg',:class => 'img-responsive img-circle'%>
                  <h4><span>Ms. Silvia Thom</span></h4>
                  <h5>Regional Director, Zalora</h5>
                </div>
              </div>
              <div class = "row portfolioDiv">
                <p class="text-justify">
                  Silvia Thom is the Regional Director of Product Management at ZALORA – Asia’s leading online fashion destination. Her team oversees ZALORA’s customer facing products such as the websites and an Android and iOS app but also internal systems used by Operations & Logistics, Customer Service and Buying.
                  <br><br>
                  Before working for ZALORA Silvia headed the Product Team at Glossybox, a beauty subscription service and was the Country Manager for Japan at Sellaband, a music crowd-funding platform. Silvia is a native German who loves to travel and experience different cultures. She was based in Berlin, London, Madrid and Tokyo before moving to Singapore at the beginning of 2013.
                </p>
              </div>
              <div class = "nextRow">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Atreyi Kankanhalli Profile -->
<div class="portfolio-modal modal fade" id="Atreyi_Kankanhalli_Profile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="modal-body">
              <div class="row">
                <div class="portfolioDiv">
                  <%= image_tag 'speakers/Atreyi_Kankanhalli.png',:class => 'img-responsive img-circle'%>
                  <h4><span>Prof. Atreyi Kankanhalli</span></h4>
                  <h5>National University of Singapore</h5>
                </div>
              </div>
              <div class = "row portfolioDiv">
                <p class="text-justify">
                  Atreyi Kankanhalli is Professor and Deputy Head (Research and Administration) in the Dept. of Information Systems, School of Computing at the National University of Singapore (NUS). She has also served as Assistant Dean (Research) and Assistant Dean (Undergraduate Studies) at the School of Computing. She is the Coordinator of the Service Systems Innovation Research Laboratory at NUS. She obtained her B. Tech. from the Indian Institute of Technology (IIT) Delhi, M.S. from RPI, New York, and Ph.D. from NUS. She has had visiting stints at the London School of Economics, University of California Berkeley, and the Indian Institute of Science, Bangalore. Prior to joining NUS, she has considerable experience in industrial R&D. She has consulted for several organizations including World Bank and Bosch SEA. Professor Kankanhalli conducts research in the areas of online communities and digital collaboration, and IT assimilation and innovation in service sectors (e.g., eGovernment, Healthcare) with a range of organizations sponsored by government and industry grants. Her work has appeared in premium journals such as MIS Quarterly, Information Systems Research, Journal of Management Information Systems, ACM Transactions on Management Information Systems, IEEE Transactions on Engineering Management, IEEE Transactions on Professional Communication, Journal of AIS, Journal of the American Society for Information Science and Technology, International Journal of Human Computer Studies, Communications of the ACM, and Decision Support Systems. Her research has been presented at leading conferences including ICIS, Academy of Management Meeting, HICSS, and WITS. She has over 150 publications which have been highly cited.
                  <br><br>
                  Professor Kankanhalli regularly serves on program committees and chairs tracks for conferences such as ICIS, AoM, ICEGOV, PACIS, and ICKM. She serves on the editorial boards of prestigious journals including Information Systems Research (Associate Editor), MIS Quarterly (ex-Associate Editor), Journal of AIS (Senior Editor), IEEE Transactions on Engineering Management, Government Information Quarterly, and Information and Management (Associate Editor), among others. She serves as Program Chair for ICEGOV 2018, PACIS 2015, and BDAH 2014. She has been invited to serve on the ICKM and SSME Councils. She has also served on the AIS finance committee and the OCIS executive committee as international representative at large. Professor Kankanhalli has taught courses on a range of information systems (IS) topics such as quantitative methods, information organization, electronic government, health informatics, information security policy, and service systems among others. She has been invited to speak at local and international forums. Apart from conducting executive education, she has been involved in writing teaching materials such as training cases and a textbook. Professor Kankanhalli was awarded the President’s Graduate Fellowship, Dean’s Graduate Award, and Infocomm Development Authority Gold Medal at NUS. She is also the winner of the ACM-SIGMIS Best Doctoral Dissertation award and runner-up for the MISQ Reviewer of the Year award. She is a recipient of the IBM Faculty Award and the IBM Smarter Planet Industry Skills Innovation Award.  She has received several best paper awards. She has been listed among the leading IS researchers globally (https://myvisionresearch.com/research-rankings/)
                </p>
              </div>
              <div class = "nextRow">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Alex Siow Profile -->
<div class="portfolio-modal modal fade" id="Alex_Siow_Profile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="modal-body">
              <div class="row">
                <div class="portfolioDiv">
                  <%= image_tag 'speakers/Alex_Siow.png',:class => 'img-responsive img-circle'%>
                  <h4><span>Prof. Alex Siow</span></h4>
                  <h5>National University of Singapore</h5>
                </div>
              </div>
              <div class = "row portfolioDiv">
                <p class="text-justify">
                  Prof Alex Siow is currently Professor (Practice) in the School of Computing, NUS and concurrently Director of the Strategic Technology Management Institute (STMI). Prior to the current appointment, Prof Alex was the Managing Director, Health & Public Service at Accenture Pte Ltd. Alex started his career as a Structural Engineer in the Housing & Development Board in 1981 and rose through the ranks to become the Chief Information Officer in 1989. In 2003, Alex joined the private sector and became the Senior Vice-President in StarHub Ltd. From 2005 to 2008, Alex was the Head, Business Markets where he was responsible for Enterprise Sales. From 2008 to 2011, Alex was the CIO of StarHub and from 2011 to 2012, Alex was Head, Enterprise Risk Management.
                  <br><br>
                  Prof Alex was very active in the IT Community. He was the President of the Singapore Computer Society from 1997 to 2001. He was the President of ITMA from 1995 to 1999. He was the first President of the Singapore Chapter of the Project Management Institute and served from 2001 to 2012. From 2001 to 2005, Alex was the Chairman of the e-Learning Chapter of SiTF. He was the Secretary General of the South East Asian Computer Confederation from 2001 to 2002 and the Assistant Secretary General of the Asian ICT Confederation from 2002 to 2005. Alex is a Board member of Temasek Polytechnic and a member of the Edusave Advisory Committee. He is also a member of the Board of Trustees of the SIM University. In the past, he held various board member positions in e-Cop Pte Ltd, National Computer Board, Certis Cisco Pte Ltd, Cleantech Pte Ltd, Science Centre Board and National Infocomm Competency Centre. In the community, Alex was the Chairman of the Aljunied Kembangan Citizen’s Consultative Committee and member of the Aljunied Town Council. He is currently a deputy registrar of Marriage with the Registry of Marriage. Prof Alex has won many awards and accolades. He was conferred the Public Administration Medal (Bronze) in 1993 and (Silver) in 2000. In 2002, he was conferred the IT Leader Award by the Singapore Computer Society. In 2009, he won the CIO of the Year and CIO of the CIOs Award by Hitachi Data System.
                </p>
              </div>
              <div class = "nextRow">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Elena Karahanna Profile -->
<div class="portfolio-modal modal fade" id="Elena_Karahanna_Profile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="modal-body">
              <div class="row">
                <div class="portfolioDiv">
                  <%= image_tag 'speakers/Elena_Karahanna.png',:class => 'img-responsive img-circle'%>
                  <h4><span>Prof. Elena Karahanna</span></h4>
                  <h5>University of Georgia</h5>
                </div>
              </div>
              <div class = "row portfolioDiv">
                <p class="text-justify">
                  Elena Karahanna is a University of Georgia Distinguished Research Professor and the L. Edmund Rast Professor of Business in the MIS Department, Terry College of Business, at the University of Georgia. She has also held visiting appointments in Hong Kong, Australia, Singapore, and Italy and was on the faculty at the University of Cyprus and at Florida State University. Elena is also a Senior Consultant with Cutter Consortium’s Business-IT Strategies practice. She holds a Ph.D. in Management Information Systems from the University of Minnesota with specializations in Organization Theory and Organizational Communication, and B.S. in Computer Science (summa cum laude) and MBA degrees from Lehigh University.
                  <br><br>
                  Elena’s expertise are in the implementation and use of information systems, e-health, IS leadership especially at the CIO level, social media, and cross-cultural issues. Her research has been published in leading scholarly journals in Information Systems (e.g., Management Science, MIS Quarterly, Information Systems Research) as well as in practitioner journals (e.g., MIS Quarterly Executive, Cutter Benchmark Review, Business Horizons).  Elena’s research is highly cited with over 17,000 citations as per Google Scholar and three of her articles are among the top 15 most frequently cited articles in the history of the MIS Quarterly. She is ranked 4th worldwide for publications in the MIS Quarterly in the past 15 years (1999-2014). For her research achievements, Elena has received the Terry College of Business Outstanding Research Award in 2010 and was named a University of Georgia Distinguished Research Professor in 2016. She was also named a Fellow of the Association for Information Systems in 2012 for outstanding contributions in research, teaching and service to the Information Systems discipline.
                  <br><br>
                  Elena has served as Senior Editor at the MIS Quarterly, Information Systems Research, and the Journal of the Association for Information Systems (a cumulative total of 11 years as Senior Editor across the three journals), and serves or has served as Associate Editor at Management Science, Information Systems Research, MIS Quarterly, Journal of the Association for Information Systems, IEEE Transactions on Engineering Management, and the European Journal of Information Systems. She has also guest co-edited a Special Issue of IEEE Transactions on Engineering Management on “IS Leadership” and a Special Issue of MIS Quarterly Executive on “New IS Leadership Roles in a Digital World.” She has also served as program co-chair for the International Conference on Information Systems (ICIS) in 2014, as Doctoral Consortium co-chair for the Americas Conference on Information Systems (AMCIS) in 2014, and as conference co-chair for the Mediterranean Conference on Information Systems (MCIS) in 2011 and in 2016. For her service contributions to the profession, Elena received the AIS Sandra Slaughter Service Award in 2015. Elena has taught a variety of courses in the undergraduate, MBA, Masters, and Doctoral programs and has received teaching excellence awards from Florida State University in 1998 and from the University of Georgia in 2003, 2011, and 2013. She has also chaired 13 dissertations and served as committee member or as an external examiner on another 20 dissertation committees.
                </p>
              </div>
              <div class = "nextRow">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Daniel Teo Profile -->
<div class="portfolio-modal modal fade" id="Daniel_Teo_Profile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="modal-body">
              <div class="row">
                <div class="portfolioDiv">
                  <%= image_tag 'speakers/Daniel_Teo.png',:class => 'img-responsive img-circle'%>
                  <h4><span>Mr. Daniel Teo</span></h4>
                  <h5>Director, Smart Nation Sensor Platform Government</h5>
                </div>
              </div>
              <div class = "row portfolioDiv">
                <p class="text-justify">
                  Daniel has over 20 years in the ICT and telecommunications industry. In his current role with the Government Technology Agency of Singapore (GovTech), he leads its Programme Office for the Smart Nation Sensor Platform (SNSP). The Programme Office will look into the architectural infrastructure, system engineering and analytics design and implementation, security and operations of the SNSP. Prior to working in GovTech, he was one of the pioneers in developing ADSL to its full capability in Singapore before leading the operations of the broadband wholesale infrastructure team in Singapore and SingNet. He was also one of the early starters in the next generation broadband network (NGNBN) and played a key role in defining NGNBN’s OSS/BSS systems.
                  <br><br>
                  Daniel has a Bachelor degree in Electronics and Electrical Engineering from the Nanyang Technological University and is one of the patent owners of Virtual Private Network for Service Provider Network.
                </p>
              </div>
              <div class = "nextRow">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<footer>
  <div class="container">

    <div class = "col-md-4 text-center">
      <div class="row">
        <span class="copyright"><%= link_to "Terms & Conditions", "http://bizitsociety.org/wp-content/uploads/2017/05/BiZiT-Festival-TERMS-AND-CONDITIONS.pdf" %></span>
      </div>
      <div class="row">
        <span class="copyright"><%= link_to "Data Protection", "http://bizitsociety.org/wp-content/uploads/2017/03/Data-Protection-Policy-BiZiT-Festival.pdf" %></span>
      </div>
    </div>

    <div class = "col-md-4 text-center">
      <div class="row">
        <ul class="list-inline social-buttons">
          <li><a href="https://www.facebook.com/bizitsociety/"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="https://www.instagram.com/bizitsociety/"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="row">
        <span class="copyright">Contact us at: <a href="mailto:festival@bizitsociety.org">festival@bizitsociety.org</a></span>
      </div>
    </div>

    <div class = "col-md-4 text-center">
      <div class="row">
        <span class="copyright"><%= link_to "Participants Info Pack", "http://bizitsociety.org/wp-content/uploads/2017/05/Participants-Info-Pack.pdf"%></span>
      </div>
      <div class = "row">
        <span class="copyright">Copyright © 2017 BiZiT Society</span>
      </div>
    </div>

  </div>
</footer>

</body>

</html>
