<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'agency' %>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">

  <%=stylesheet_link_tag('application')%>
  <%= stylesheet_link_tag 'agency' %>
  <%= stylesheet_link_tag 'events' %>
  <%= stylesheet_link_tag 'talk' %>


</head>

<body id="page-top" class="WSBody">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-home navbar-fixed-top">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle collapsed" data-turbolinks-permanent data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/">BiZiT Festival</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/smartnation">Smart Nation</a>
        </li>
        <li>
          <a href="/bigdata">Big Data</a>
        </li>
        <li>
          <a href="/fintech">FinTech</a>
        </li>
        <li>
          <a href="/workshops">Workshops</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/login" class="btn-login">Login</a>
        </li>
        <li>
        <li><a href="https://www.facebook.com/bizitsociety/"><i class="fa fa-facebook"></i></a>
        </li>
        <li><a href="https://www.instagram.com/bizitsociety/" id="navInstagram"><i class="fa fa-instagram"></i></a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!--talk timeline-->
<section class="layer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

          <ul class="timeline">
            <li><div class="tldate">8.30 ~ 9.00am Registration</div></li>

            <li>
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4>Opening talk on Fintech</h4>
                  <h3><span class="fa fa-clock-o"></span> 9.00 ~ 9.45am</h3>
                </div>
                <div class="tl-body">
                  <p>Speaker: MAS </p>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4>Panel 1: Fintech Innovation and the Singapore Business Environment</h4>
                  <h3><span class="fa fa-clock-o"></span> 9.45 ~ 10.30am</h3>
                </div>
                <div class="tl-body">
                  <p>Panelists:
                    <br><a href="#Huang_Ke‐Wei">Prof. Huang Ke‐Wei</a>
                    <br><a href="#Anupam_Pahuja">Mr. Anupam Pahuja</a>
                    <br><a href="#Alan_Lim">Mr. Alan Lim</a>
                    <br><a href="#Judy_Hsu">Ms. Judy Hsu</a>
                  </p>
                </div>
              </div>
            </li>

            <li><div class="tldate">10.30 ~ 11.00am Tea Break</div></li>

            <li>
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4>Talk on M‐commerce</h4>
                  <h3><span class="fa fa-clock-o"></span> 11.00 ~ 11.45am</h3>
                </div>
                <div class="tl-body">
                  <p>Speaker: Prof. Anindya Ghose</p>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4>Panel 2: Advancing Digital Commerce through Customer Analytics</h4>
                  <h3><span class="fa fa-clock-o"></span> 11.45 ~ 12.30pm</h3>
                </div>
                <div class="tl-body">
                  <p>Panelists:
                    <br>Prof. Teo Hock Hai
                    <br>Prof. Arun Rai
                    <br>Prof. Bin Gu
                    <br>Ms. Gan Siok Hoon
                    <br>Ms. Silvia Thom
                  </p>
                </div>
              </div>
            </li>

            <li><div class="tldate">12.30 ~ 2.00pm Lunch</div></li>

            <li>
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4>Talk on Smart Nation</h4>
                  <h3><span class="fa fa-clock-o"></span> 2.00 ~ 2.45pm</h3>
                </div>
                <div class="tl-body">
                  <p>Speaker: Accenture</p>
                </div>
              </div>
            </li>


            <li class="timeline-inverted">
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4>Panel 3: Smart Nation: Instrumented, Innovative, and Participatory</h4>
                  <h3><span class="fa fa-clock-o"></span> 2.45 ~ 3.30pm</h3>
                </div>
                <div class="tl-body">
                  <p>Panelists:
                    <br>Prof. Atreyi Kankanhalli
                    <br>Prof. Alex Siow
                    <br>Prof. Elena Karahanna
                    <br>Mr. Daniel Teo
                  </p>
                </div>
              </div>
            </li>

            <li><div class="tldate">3.30 ~ 4.00pm Tea Break</div></li>

            <li>
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4>BiZiT Challenge Finalist Presentations</h4>
                  <h3><span class="fa fa-clock-o"></span> 4.00 ~ 5.00pm</h3>
                </div>
              </div>
            </li>

            <li>
              <div class="timeline-panel noarrow">
                <div class="tl-heading">
                  <h4>Guest of Honour Speech</h4>
                  <h3><span class="fa fa-clock-o"></span> 5.00 ~ 5.30pm</h3>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                <div class="tl-heading">
                  <h4>BiZiT Challenge Awards Ceremony/Photo Taking</h4>
                  <h3><span class="fa fa-clock-o"></span> 5.30 ~ 6.00pm</h3>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-panel noarrow">
                <div class="tl-heading">
                  <h4>Dinner and Networking</h4>
                  <h3><span class="fa fa-clock-o"></span> 6.00 ~ 7.00pm</h3>
                </div>
              </div>
            </li>
          </ul>

      </div>
    </div>
  </div>
</section>

<section id="portfolio" class="layer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Speakers</h2>
        <h3 class="section-subheading text-muted">List of speaker</h3>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-3">
        <div class="speakersDiv" id="Huang_Ke‐Wei">
          <%= image_tag 'speakers/huangkw.png',:class => 'img-responsive img-circle'%>
          <h3><span><a href="#Huang_Ke‐Wei_Portfolio" class="portfolio-link" data-toggle="modal">Prof. Huang Ke‐Wei</a></span></h3>
          <p class="text-muted">National University of Singapore</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="speakersDiv" id="Anupam_Pahuja">
          <%= image_tag 'speakers/Anupam_Pahuja.jpg', :class => 'img-responsive img-circle'%>
          <h3><span>Mr. Anupam Pahuja</span></h3>
          <p class="text-muted">MD, Country Manager India and GM Technology APAC, PayPal</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="speakersDiv" id="Alan_Lim">
          <%= image_tag 'speakers/Alan_Lim.jpg', :class => 'img-responsive img-circle'%>
          <h3><span>Mr. Alan Lim</span></h3>
          <p class="text-muted">ASEAN Garage Leader, IBM</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="speakersDiv" id="Judy_Hsu">
          <%= image_tag 'speakers/Judy_Hsu.png',:class => 'img-responsive img-circle'%>
          <h3><span>Ms. Judy Hsu</span></h3>
          <p class="text-muted">Chief Executive Officer, Standard Chartered Bank Singapore</p>
        </div>
      </div>
    </div>


    <div class="row nextRow">
      <div class="col-sm-3">
        <div class="speakersDiv" id="Huang_Ke‐Wei">
          <%= image_tag 'speakers/Anindya_Ghose.jpg',:class => 'img-responsive img-circle'%>
          <h3><span>Prof. Huang Ke‐Wei</span></h3>
          <p class="text-muted">National University of Singapore</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="speakersDiv" id="Anupam_Pahuja">
          <%= image_tag 'speakers/Anupam_Pahuja.jpg', :class => 'img-responsive img-circle'%>
          <h3><span>Mr. Anupam Pahuja</span></h3>
          <p class="text-muted">MD, Country Manager India and GM Technology APAC, PayPal</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="speakersDiv" id="Alan_Lim">
          <%= image_tag 'speakers/Alan_Lim.jpg', :class => 'img-responsive img-circle'%>
          <h3><span>Mr. Alan Lim</span></h3>
          <p class="text-muted">ASEAN Garage Leader, IBM</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="speakersDiv" id="Judy_Hsu">
          <%= image_tag 'speakers/Judy_Hsu.png',:class => 'img-responsive img-circle'%>
          <h3><span>Ms. Judy Hsu</span></h3>
          <p class="text-muted">Chief Executive Officer, Standard Chartered Bank Singapore</p>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="Huang_Ke‐Wei_Portfolio" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="modal-body">

              <div class="row">
                <div class="portfolioDiv">
                  <%= image_tag 'speakers/huangkw.png',:class => 'img-responsive img-circle'%>
                  <h4><span>Prof. Huang Ke‐Wei</span></h4>
                  <h5>National University of Singapore</h5>
                </div>
              </div>

              <div class = "row portfolioDiv">
                <p class="text-justify">
                Dr. Ke-Wei Huang is an Associate Professor in the Department of Information Systems at the National University of Singapore (NUS).
                  Dr. Huang joined NUS in July 2007. He received his Ph.D. (2007), M.Phil. (2005), and M.Sc. (2002) degrees in Information Systems from the Stern School of Business at New York University, and his M.B.A. in Finance (1997) and B.Sc. in Electrical Engineering (1995) from National Taiwan University.
                <br><br>
                Dr. Huang’s research interests are in the economics of information systems and data mining for financial applications. Currently, he focuses on various topics of pricing digital goods, labor economics of IT professionals, and data mining or econometrics issues for topics in accounting or finance.
                </p>
              </div>
              <div class = "nextRow">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<footer>
  <div class="container">

    <div class = "col-md-4 text-center">
      <div class="row">
        <span class="copyright"><%= link_to "Terms & Conditions", "http://bizitsociety.org/wp-content/uploads/2017/05/BiZiT-Festival-TERMS-AND-CONDITIONS.pdf" %></span>
      </div>
      <div class="row">
        <span class="copyright"><%= link_to "Data Protection", "http://bizitsociety.org/wp-content/uploads/2017/03/Data-Protection-Policy-BiZiT-Festival.pdf" %></span>
      </div>
    </div>

    <div class = "col-md-4 text-center">
      <div class="row">
        <ul class="list-inline social-buttons">
          <li><a href="https://www.facebook.com/bizitsociety/"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="https://www.instagram.com/bizitsociety/"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="row">
        <span class="copyright">Contact us at: <a href="mailto:festival@bizitsociety.org">festival@bizitsociety.org</a></span>
      </div>
    </div>

    <div class = "col-md-4 text-center">
      <div class="row">
        <span class="copyright"><%= link_to "Participants Info Pack", "http://bizitsociety.org/wp-content/uploads/2017/05/Participants-Info-Pack.pdf"%></span>
      </div>
      <div class = "row">
        <span class="copyright">Copyright © 2017 BiZiT Society</span>
      </div>
    </div>

  </div>
</footer>

</body>

</html>
