<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">


  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">


  <%=stylesheet_link_tag('application')%>
  <%= stylesheet_link_tag 'agency' %>
  <!--<%= stylesheet_link_tag 'form-elements' %>-->

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'agency' %>

</head>


<body id="page-top" class="homeBody">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-home navbar-fixed-top">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle collapsed" data-turbolinks-permanent data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/">BiZiT Festival</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/smartnation">Smart Nation</a>
        </li>
        <li>
          <a href="/bigdata">Big Data</a>
        </li>
        <li>
          <a href="/fintech">FinTech</a>
        </li>
        <li>
          <a href="/finale">Finale</a>
        </li>
        <li>
          <a href="/workshops">Workshops</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/login" class="btn-login">Login</a>
        </li>
        <li>
        <li><a href="https://www.facebook.com/bizitsociety/"><i class="fa fa-facebook"></i></a>
        </li>
        <li><a href="https://www.instagram.com/bizitsociety/" id="navInstagram"><i class="fa fa-instagram"></i></a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header class="layer" id="homeHeader">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">BiZiT Festival</div>
      <div class="intro-heading">2017</div>
      <div><a href="https://www.eventbrite.sg/e/bizit-festival-finale-tickets-35118224555" target="_blank" class="btn-register">Register for Finale</a></div>
      <div class="register-bar">22 June - 23 June 2017<br>University Town, NUS</div>
    </div>
  </div>
</header>

<!-- About BiZiT Fes-->
<section class="dark-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

        <div class="col-md-1"></div>
        <div class="col-md-10">

        <div class="row">
          <div class = "col-md-6">
            <h4>Eligibility</h4>
              <span class="fa-stack fa-5x large-icon">
                <i class="fa fa-circle fa-stack-2x white-icon"></i>
                <i class="fa fa-id-badge fa-stack-1x grey-icon"></i>
              </span>
            <p class="text-center center ninety-percent normal-weight">The event is open to <span>all students from institutes of higher learning</span> (Junior Colleges, Polytechnics, ITEs and Universities), including graduate students and anyone awaiting entry into IHLs.</p>
          </div>

          <div class = "col-md-6">
            <h4>Deliverables</h4>
            <span class="fa-stack fa-5x large-icon">
                <i class="fa fa-circle fa-stack-2x white-icon"></i>
                <i class="fa fa-rocket fa-stack-1x orange-icon"></i>
              </span>
            <p class="text-center center ninety-percent normal-weight">
              Each team will submit a proposal detailing your innovative solution to the challenge of your choice. Teams selected as semi-finalists will develop a prototype conceptualizing the solution to present during the event finale.
            </p>
          </div>
        </div>

        <div class="row" style="margin-top: 30px">
          <div class = "col-md-6">
            <h4>Benefits</h4>
            <span class="fa-stack fa-5x large-icon">
                <i class="fa fa-circle fa-stack-2x white-icon"></i>
                <i class="fa fa-money fa-stack-1x red-icon"></i>
              </span>
            <p class="text-center center ninety-percent normal-weight">
              By joining this event for <span>free</span>, you can attend a series of <span>exclusive workshops</span>. Semi-finalist teams will also take part in <span>mentoring sessions</span> with industry experts and stand a chance to win <span> cash prizes of $11000 </span> in total.
            </p>
          </div>

          <div class = "col-md-6">
            <h4>Teams</h4>
            <span class="fa-stack fa-5x large-icon">
                <i class="fa fa-circle fa-stack-2x white-icon"></i>
                <i class="fa fa-users fa-stack-1x green-icon"></i>
              </span>
            <p class="text-center center ninety-percent normal-weight">
              Form teams of <span> up to 4 </span> members! Team members may come from different institutions.
            </p>
          </div>

        </div>

          <div class = "row text-center" style="padding-top: 70px">
            <a href="/about" class="link-text-darker">Click here for more details</a>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>

<!-- ICE-->
<section class = "layer-Gao">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"><span>Innovation-Connect-Economy Workshop</span></h2>
      </div>
    </div>

    <div class="row">

      <div class="col-md-1"></div>

      <div class="col-md-10" style="margin-left: 30px;margin-right: 30px">
        <p style="color: #ebebeb; font-size: 16px">
      BiZiT Festival is held in collaboration with the Innovation-Connect-Economy Workshop organised by the Department of Information Systems, School of Computing, National University of Singapore.
      <br>
      <br>
      <br>
      Digital innovation is changing the nature of business across all sectors of the economy at a faster pace than ever before. Whether it is financial institutions, retailers, SMEs, or IT functions across all sectors,
      it is imperative for organizations to adapt to these changes in order to survive and thrive. For professionals across all sectors who are interested in updating themselves on the latest computing trends, this is an event not to be missed.
      Hear from our international panel of academic experts and senior management of organizations such as Monetary Authority of Singapore, Smart Nation Digital Government Office, IBM, Standard Chartered, Singtel, Zalora, Accenture,
      and other leaders as they bring you up to speed on the hot button topics of Fintech Innovation and the Singapore Business Environment, Advancing Digital Commerce through Analytics, and Smart Nation - Instrumented, Innovative, and Participatory.
          <br>
          <br>
          <a href="https://blog.nus.edu.sg/iceworkshop" target="_blank">Click here for more details</a>
        </p>

      </div>


      <div class="col-md-1"></div>
    </div>
  </div>
</section>

<!-- 3 tracks-->
<section class = "other" id="tracks">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Challenges</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="trackDiv">
          <a href="/smartnation"><%= image_tag 'home/smartnation.png',:class => 'img-responsive img-circle'%></a>
          <h3><a href="/smartnation" class="link-text-darker">Smart Nation</a></h3>
          <p class="text-muted">The Challenges of a Futuristic World</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="trackDiv">
          <a href="/bigdata"><%= image_tag 'home/bigdata.png', :class => 'img-responsive img-circle'%></a>
          <h3><span><a href="/bigdata" class="link-text-darker">Big Data</a></span></h3>
          <p class="text-muted">The Challenges of Business Innovation</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="trackDiv">
          <a href="/fintech"><%= image_tag 'home/fintech.png', :class => 'img-responsive img-circle'%></a>
          <h3><span><a href="/fintech" class="link-text-darker">Fintech</a></span></h3>
          <p class="text-muted">Disrupting Financial Service</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Prizes Section -->
<section id="prizes" class="layer-Gao">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading" id="statement-section-heading">Prizes</h1>
        <h4 class="special-h4">
          There will 3 winners for each track of the competition.
          Prize is awarded to the winning team, and the way it is divided among the members is entirely up to the team.
        </h4>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3">
        <h4 class="service-heading">First Prize</h4>
        <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                    </span>
        <h3 class="service-heading">$2000 in cash</h3>
        <p class="text-muted">$2000 in cash + exclusive internship opportunity with title sponsor!</p>
      </div>
      <div class="col-md-3">
        <h4 class="service-heading">Second Prize</h4>
        <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
        <h3 class="service-heading">$1000 in cash</h3>
      </div>
      <div class="col-md-3">
        <h4 class="service-heading">Third Prize</h4>
        <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
        <h3 class="service-heading">$500 in cash</h3>
      </div>
      <div class="col-md-3">
        <h4 class="service-heading">Popz</h4>
        <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
        <h3 class="service-heading">$500 Voucher</h3>
        <p class="text-muted">There will be one popularity winner. The team that receives the most votes from visitors will win $500 in vouchers from Zalora!</p>
      </div>
    </div>
  </div>
</section>

<!-- Sponsors -->
<section id="sponsors" class="home-sponsors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

        <div class = 'row'>
          <h3><span>Platinum Sponsors:</span></h3>
        </div>
        <div class = 'row'>
          <div class="col-md-4">
            <a href="https://www.singtel.com/" target="_blank">
              <%= image_tag 'bigdata/singtel.png', :id => 'img-home-singtel'%>
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://www.sc.com/sg/" target="_blank">
              <%= image_tag 'fintech/sc.png', :id => 'img-home-standchart'%>
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://www.accenture.com/sg-en/new-applied-now" target="_blank">
              <%= image_tag 'smartnation/accenture.png', :id => 'img-home-accenture'%>
            </a>
          </div>
        </div>

        <div class = 'row' style="margin-top: 50px">

          <div class="col-md-3"></div>

          <div class="col-md-3">
            <div class="row">
              <h3 style="margin-bottom: 3px;"><span>Other Sponsor:</span></h3>
            </div>
            <div class = 'row'>
              <a href="https://www.zalora.sg/" target="_blank">
                <%= image_tag 'home/zalora.png', :id => 'img-home-zalora'%>
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="row">
              <h3 style="margin-bottom: 12px"><span>Organised By:</span></h3>
            </div>
            <div class = 'row'>
              <a href="http://bizitsociety.org" target="_blank">
                <%= image_tag 'logos/Logo_2.png', :id => 'img-home-bizit'%>
              </a>
            </div>
          </div>

          <div class="col-md-3"></div>

        </div>

        <div class = 'row' style="margin-top: 50px">
          <h3 style="margin-bottom: 10px;"><span>Supported By:</span></h3>
        </div>

        <div class = 'row'>
          <div class="col-md-3">
            <a href="http://www.comp.nus.edu.sg/" target="_blank">
              <%= image_tag 'home/soc.png', :id => 'img-home-soc'%>
            </a>
          </div>

          <div class="col-md-3">
            <a href="https://www.sas.com/en_sg/home.html" target="_blank">
              <%= image_tag 'home/sas.png', :id => 'img-home-sas'%>
            </a>
          </div>

          <div class="col-md-3">
            <a href="https://www.microsoft.com/en-sg" target="_blank">
              <%= image_tag 'home/microsoft.png', :id => 'img-home-micro'%>
            </a>
          </div>

          <div class="col-md-3">
            <a href="https://aws.amazon.com/" target="_blank">
              <%= image_tag 'home/aws.png', :id => 'img-home-aws'%>
            </a>
          </div>

        </div>

        <div class = 'row' style="margin-top: 20px">

          <div class="col-md-3">
            <a href="https://www.ibm.com/sg-en/" target="_blank">
              <%= image_tag 'home/ibm.png', :id => 'img-home-ibm'%>
            </a>
          </div>

          <div class="col-md-3">
            <a href="https://www.imda.gov.sg/" target="_blank">
              <%= image_tag 'home/imda.png', :id => 'img-home-imda'%>
            </a>
          </div>

          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
        </div>



      </div>
    </div>
  </div>
</section>


<!--map-->
<section class="other" id="mapSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Getting There</h1>
        <h3 class="section-heading">
          Stephen Riady Center, University Town, National University of Singapore
        </h3>
      </div>
    </div>
    <div id="map"></div>
    <div class="row">
      <p> For more information, please refer to <a href="http://utown.nus.edu.sg/contact/getting-here/" target="_blank">Getting Here, University Town</a></p>
    </div>
    <script>
        function initMap() {
            var utown = {lat: 1.3046, lng: 103.7723}; //u-town: 1.3046° N, 103.7723° E
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: utown
            });
            var marker = new google.maps.Marker({
                position: utown,
                map: map
            });
        }
    </script>
    <!-- script async defer
            src="GOOGLE MAPS API KEY HERE"-->
    <script>
    </script>
  </div>
</section>

<!--mailing list-->
<!--<section id="contactForm" class="layer">-->
  <!--<div class="container">-->
    <!--<a name="mailing"></a>-->
    <!--<div class="row" style="margin-bottom: 20px">-->
      <!--<div class="col-lg-12 text-center">-->
        <!--<h1 class="section-heading">Mailing List</h1>-->
        <!--<% flash.each do |key, value| %>-->
            <!--<div class="alert alert-<%= key %>"><%= value %></div>-->
        <!--<% end %>-->
        <!--<h3 class="section-heading">-->
          <!--Sign up to get updated about the Finale!-->
        <!--</h3>-->

      <!--</div>-->

    <!--</div>-->
    <!--<%= simple_form_for :mailing_list, url: '/addList' do |f| %>-->
        <!--<%= f.input :email, placeholder: 'Email', label: false %>-->
        <!--<%= f.button :button, 'Sign up!', class: 'btn-mail' %>-->
    <!--<% end %>-->
  <!--</div>-->

<!--</section>-->


<footer>
  <div class="container">

      <div class = "col-md-4 text-center">
        <div class="row">
          <span class="copyright"><%= link_to "Terms & Conditions", "http://bizitsociety.org/wp-content/uploads/2017/05/BiZiT-Festival-TERMS-AND-CONDITIONS.pdf" %></span>
        </div>
        <div class="row">
          <span class="copyright"><%= link_to "Data Protection", "http://bizitsociety.org/wp-content/uploads/2017/03/Data-Protection-Policy-BiZiT-Festival.pdf" %></span>
        </div>
      </div>

      <div class = "col-md-4 text-center">
        <div class="row">
          <ul class="list-inline social-buttons">
            <li><a href="https://www.facebook.com/bizitsociety/"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="https://www.instagram.com/bizitsociety/"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
        </div>
        <div class="row">
          <span class="copyright">Contact us at: <a href="mailto:festival@bizitsociety.org">festival@bizitsociety.org</a></span>
        </div>
      </div>

      <div class = "col-md-4 text-center">
        <div class="row">
          <span class="copyright"><%= link_to "Participants Info Pack", "http://bizitsociety.org/wp-content/uploads/2017/05/Participants-Info-Pack.pdf"%></span>
        </div>
        <div class = "row">
          <span class="copyright">Copyright © 2017 BiZiT Society</span>
        </div>
      </div>

    </div>
</footer>


</body>

</html>
