<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">


  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">


  <%=stylesheet_link_tag('application')%>
  <%= stylesheet_link_tag 'agency' %>
  <%= stylesheet_link_tag 'form-elements' %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'agency' %>

</head>

<body id="page-top" class="homeBody">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-home navbar-fixed-top">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle collapsed" data-turbolinks-permanent data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/">BiZiT Festival 17</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/smartnation">Smart Nation</a>
        </li>
        <li>
          <a href="/bigdata">Big Data</a>
        </li>
        <li>
          <a href="/fintech">FinTech</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/login" class="btn-login">Login</a>
        </li>
        <li>
        <li><a href="https://www.facebook.com/bizitsociety/"><i class="fa fa-facebook"></i></a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header class="layer" id="homeHeader">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">BiZiT Festival</div>
      <div class="intro-heading">2017</div>
      <div><a href="/login" class="btn-register">Register</a></div>
      <div class="register-bar">22 June - 23 June 2017<br>University Town, NUS</div>
    </div>
  </div>
</header>

<!-- Sponsor logos-->
<section id="logo">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3><span>Sponsor titles to be unveiled soon</span></h3>
      </div>
    </div>
  </div>
</section>

<!-- About BiZiT Fes-->
<section class="layer">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 text-center">
        <h1 class="section-heading" id="statement-section-heading"><span>About BiZiT Festival</span></h1>
        <div class="statementText">
          <br>BiZiT Festival is a pioneering event championed by BiZiT Society for greater
          visibility of our industry in Singapore. The 4Cs pillars are the foundations of BiZiT and as part of what we
          do, we want to give more exposure and opportunities to students to work on applicable real-world challenges,
          with some of the industry’s best employers.<br><br>
          BiZiT Festival is not merely a hackathon, but a series of workshops , talks, and competitions lined up to
          culminate in a 2 days Finale.<br><br>
          The Festival competitions form a core part of BiZiT Festival. This is where we hope the participants and our
          sponsors will have the greatest takeaway. The competitions are designed and angled such that they are relevant
          and applicable to challenges faced by the business IT industry today. This means your hardwork and innovation
          is most relevant and applicable where they are most needed!
        </div>
      </div>

    </div>
  </div>
</section>


<!-- 3 tracks-->
<section class = "home-bg" id="tracks">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Challenges</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="trackDiv">
          <a href="/smartnation"><%= image_tag 'home/smartnation.png',:class => 'img-responsive img-circle'%></a>
          <h3><span><a href="/smartnation">Smart Nation</a></span></h3>
          <p class="text-muted">The Challenges of a Futuristic World</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="trackDiv">
          <a href="/bigdata"><%= image_tag 'home/bigdata.png', :class => 'img-responsive img-circle'%></a>
          <h3><span><a href="/bigdata">Big Data</a></span></h3>
          <p class="text-muted">The Challenges of Business Innovation</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="trackDiv">
          <a href="/fintech"><%= image_tag 'home/fintech.png', :class => 'img-responsive img-circle'%></a>
          <h3><span><a href="/fintech">Fintech</a></span></h3>
          <p class="text-muted">Disrupting Financial Service</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Prizes Section -->
<!--<section id="prizes" class="other">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-lg-12 text-center">-->
        <!--<h1 class="section-heading" id="statement-section-heading">Prizes</h1>-->
        <!--<h4>-->
          <!--There will 3 winners for each track of the competition.-->
          <!--Prize is awarded to the winning team, and the way it is divided among the members is entirely up to the team.-->
        <!--</h4>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row text-center">-->
      <!--<div class="col-md-3">-->
        <!--<h3 class="service-heading">First Prize</h3>-->
        <!--<span class="fa-stack fa-4x">-->
                        <!--<i class="fa fa-circle fa-stack-2x text-primarySN"></i>-->
                        <!--<i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>-->
                    <!--</span>-->
        <!--<h3 class="service-heading">$2000 in cash</h3>-->
        <!--<p class="text-muted">$2000 in cash + exclusive internship opportunity with title sponsor!</p>-->
      <!--</div>-->
      <!--<div class="col-md-3">-->
        <!--<h3 class="service-heading">Second Prize</h3>-->
        <!--<span class="fa-stack fa-4x">-->
                        <!--<i class="fa fa-circle fa-stack-2x text-primarySN"></i>-->
                        <!--<i class="fa fa-money fa-stack-1x fa-inverse"></i>-->
                    <!--</span>-->
        <!--<h3 class="service-heading">$1000 in cash</h3>-->
      <!--</div>-->
      <!--<div class="col-md-3">-->
        <!--<h3 class="service-heading">Third Prize</h3>-->
        <!--<span class="fa-stack fa-4x">-->
                        <!--<i class="fa fa-circle fa-stack-2x text-primarySN"></i>-->
                        <!--<i class="fa fa-money fa-stack-1x fa-inverse"></i>-->
                    <!--</span>-->
        <!--<h3 class="service-heading">$500 in cash</h3>-->
      <!--</div>-->
      <!--<div class="col-md-3">-->
        <!--<h3 class="service-heading">Popz</h3>-->
        <!--<span class="fa-stack fa-4x">-->
                        <!--<i class="fa fa-circle fa-stack-2x text-primarySN"></i>-->
                        <!--<i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>-->
                    <!--</span>-->
        <!--<h3 class="service-heading">$500 Voucher</h3>-->
        <!--<p class="text-muted">There will be one popularity winner. The team that receives the most votes from visitors will win $500 in vouchers from Zalora!</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<!-- Sponsors -->
<section id="sponsors" class="home-sponsors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Sponsors</h1>
        <h3 class="section-heading">
          Sponsor titles to be unveiled soon!
        </h3>
      </div>
    </div>
  </div>
</section>


<!--map-->
<section class="other" id="mapSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Getting There</h1>
        <h3 class="section-heading">
          Stephen Riady Center, University Town, National University of Singapore
        </h3>
      </div>
    </div>
    <div id="map"></div>
    <div class="row">
      <p> For more information, please refer to <a href="http://utown.nus.edu.sg/contact/getting-here/">Getting Here, University Town</a></p>
    </div>
    <script>
        function initMap() {
            var utown = {lat: 1.3046, lng: 103.7723}; //u-town: 1.3046° N, 103.7723° E
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: utown
            });
            var marker = new google.maps.Marker({
                position: utown,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC81o5_cLfvc_2wi4eOE82GhE9wGeqpFCI&callback=initMap">
    </script>
  </div>
</section>

<!--mailing list-->
<section id="contactForm" class="layer">
  <div class="container">
    <a name="mailing"></a>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Mailing List</h1>
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <h3 class="section-heading">
          Sign up for our mailing list to stay updated!
        </h3>
      </div>

    </div>
    <%= simple_form_for :mailing_list, url: '/addList' do |f| %>
        <%= f.input :email, placeholder: 'Email', label: false %>
        <%= f.button :button, 'Sign up!', class: 'btn' %>
    <% end %>
  </div>
</section>


<footer>
  <div class="container">
    <div class="row">
      <div class = "col-md-4 text-center">
        <span class="copyright">Copyright © 2017 BiZiT Society</span>
      </div>
      <div class = "col-md-4 text-center">
        <ul class="list-inline social-buttons">
          <li><a href="https://www.facebook.com/bizitsociety/"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="https://www.instagram.com/bizitsociety/ "><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <span class="copyright">Contact us at: <a href="mailto:festival@bizitsociety.org">festival@bizitsociety.org</a></span>
      </div>
    </div>
  </div>
</footer>


</body>

</html>
