<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'dash' %>
  <%= stylesheet_link_tag 'form-elements' %>


  <%= javascript_include_tag ('application') %>

</head>
<body>
<div class="navbar navbar-inverse set-radius-zero">
  <div class="container">
    <div class="col-lg-12">
      <a href="/"><%= image_tag("logos/Logo_new.png" , :class => 'headerLogo')%></a>
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
  </div>
</div>
<!-- LOGO HEADER END-->
<section class="menu-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="navbar-collapse collapse ">
          <ul id="menu-top" class="nav navbar-nav navbar-right">
            <li><a href="/dash">Profile</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a class="menu-top-active" href="/recruit">Recruitment</a></li>
            <li>
              <a href=<%= new_password_reset_path%>>
                <p>Change Password</p>
              </a>
            </li>
            <li>
              <%= link_to "Log out", logout_path, method: "delete",:data => {:confirm => 'Confirm Logout?'}%>
            </li>

          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- MENU SECTION END-->
<div class="content-wrapper">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <div class="container">
    <div>
      <a class="btn btn-success" href="/newRecruit">
        Post new recruitment notice
      </a>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="page-head-line">Recruitment Notices</h4>
      </div>
    </div>

    <%@recruit.each do |post|%>
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">Team : <strong><%=post.team_name%></strong>
              <a class="btn btn-info" style="float:right" href="/teams/<%=post.team_id%>">Go to team</a>
            </div>
            <div class="panel-body">
              <div><%=post.content%></div>
            </div>
            <div class="panel-footer">
              <div>Contact: <%=post.email%></div>
              <div><h6>Posted on: <%=post.created_at.strftime('%v')%></h6></div>
              <%if @user.email == post.email%>
                  <a class="btn btn-danger" href="/recruited/?id=<%=post.id%>" data-confirm="Confirm Delete?">Delete</a>
              <%end%>


            </div>
          </div>
        </div>
    <%end%>

    <%@recruit2.each do |post2|%>
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">Team : <strong><%=post2.name%></strong>
              <a class="btn btn-info" style="float:right" href="/teams/<%=post2.id%>">Go to team</a>
            </div>
            <div class="panel-body">
              <div><%=post2.requirements%></div>
            </div>

            <div class="panel-footer">
              <div><h6>Posted on: <%=post2.updated_at.strftime('%v')%></h6></div>
            </div>
          </div>
        </div>
    <%end%>




  </div>


</div>

</body>
<script>
    $(document).ready(function() {
        $('#teamTable').DataTable();
    } );
</script>

</html>
