<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="none">


  <!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">


  <%= javascript_include_tag ('loginScripts') %>
  <%= stylesheet_link_tag ('login') %>
  <%=stylesheet_link_tag('application')%>
  <%= stylesheet_link_tag 'form-elements' %>
  <%= stylesheet_link_tag 'awesome-bootstrap-checkbox'%>

</head>


<body>

<!-- Top content -->
<div class="top-content">

  <div class="inner-bg">
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
          <div class="form-top-left">
            <h3>Bizit Festival Popularity Voting</h3>
          </div>
          <div class="form-top-right">
            <i class="fa fa-lock"></i>
          </div>
        </div>
        <div class="form-bottom">
          <h1>Vote submitted</h1>
          <p>
            You're eligible for today's lucky draw. The results will be announced during our closing ceremony (4pm-6pm) at Auditorium 2.
            <ul>
              <li>5 * $20 Capitaland Voucher</li>
              <li>1 * $40 Capitaland Voucher</li>
            </ul>

          </p>
          <p>You must be present in order to collect your prize</p>
          <form action = '/TazsBrovhCJgKHYibYCE'>
          <input type="submit" class = 'btn btn-info' value="Thank you!">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<%= javascript_include_tag 'application' %>

</body>

</html>