<!DOCTYPE html>
<html>
  <head>
    <title>BiZiT Festival</title>
    <%= csrf_meta_tags %>

    <!--<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>-->
    <!--<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>-->
    <%=favicon_link_tag 'logos/favicon.png'%>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
